Repository KTH/devops-course, pull requests merged in 2020-03, with the labels that each got.

#412 Tutorial proposal: Github Apps and Actions
  contributions/tutorial/jii-louiseze/README.md
Labels: proposal, tutorial

#418 Essay proposal: An introduction to Configuration Management Tools Salt and Ansible
  contributions/essay/emetha/README.md
Labels: essay, proposal

#369 proposal for presentation, week3: An Introduction to Application-level Chaos Engineering and Its Tools
  contributions/presentation/week3/vemula-akhily/Readme.md
Labels: presentation, proposal

#411 Tutorial suggestion: Code Coverage
  contributions/tutorial/jonasjo5/README.md
Labels: proposal, tutorial

#424 Open source: Jenkins integration for Home Assistant
  contributions/open-source/jadlers-carljen/README.md
Labels: contribution_to_opensource, proposal

#413 Presentation proposal week 4: A/B Testing
  contributions/presentation/week4/rosquis-shapour/README.md
Labels: presentation, proposal

#430 Tutorial Proposal: Testing Microservices in Spring Boot Applications: Tools and Techniques (Week 4)
  contributions/tutorial/chikafa-mjza/README.md
Labels: proposal, tutorial

#426 Add initial COVID19 Proposal: COVID19 info for KTH-data Student
  contributions/covid19/tommysam-jii/README.md
Labels: covid19, proposal

#438 Add Grand Fuzzing Challenge 2020!
  contributions/competition/tommysam-stinalan/README.md
Labels: competition, proposal

#433 Essay proposal: Weighting your configuration manager options: Chef and Saltstack
  contributions/essay/phwe/README.md
Labels: essay, proposal

#434 Demo proposal: CI/CD pipeline for embedded devices using PlatformIO and Jenkins
  contributions/demo/Callet91-xmas92/README.md
Labels: demo, proposal

#439 Proposal for demo: Autoscaling for high availability using Kubernetes
  contributions/demo/javierro-hiteshs/README.md
Labels: demo, proposal

#419 Essay proposal
  contributions/essay/applelid-kasperli/README.md
Labels: essay, proposal

#353 Presentation proposal: Devops and Security Week 4
  contributions/presentation/week4/ppmo-eyrun/README.md
Labels: presentation, proposal

#402 Demo Proposal: Deploying a container based application with Kubernetes as the orchestration platform, with automated testing using Jenkins.
  contributions/demo/dleon-nicolaih/README.md
Labels: demo, proposal

#436 Essay Proposal (AWS Influence on DevOps)
  contributions/essay/asratyan-dautaras/README.md
Labels: essay, proposal

#425 Presentation proposal, week4: Monitoring. tracing. observability in DevOps
  contributions/presentation/week4/paulher-hmellin/README.md
Labels: presentation, proposal

#428 Essay proposal: Different ways of improving DevOps with Machine learning
  contributions/essay/marcusew/README.md
Labels: essay, proposal

#449 Finished Essay: The Monitoring Process In Video Games
  contributions/essay/ruwaid-hmellin/README.md
  contributions/essay/ruwaid-hmellin/The Monitoring Process In Video Games.pdf
Labels: essay, final_submission

#444 Tutorial Completed: BuildBot
  contributions/tutorial/rhodin-kotsias/README.md
Labels: final_submission, tutorial

#454 Tutorial proposal: Grafana
  contributions/tutorial/johvh/README.md
Labels: proposal, tutorial

#361 Week6 presentation: novel decentralized discussion protocol and tool
  contributions/presentation/week6/gdowling/README.md
Labels: presentation, proposal

#451 Essay Proposal: Shifting Attention from CI Pipelines to Devops Assembly Lines
  contributions/essay/akhily-vemula/README.md
Labels: essay, proposal

#456 Presentation week 5: Deployment Strategies
  contributions/presentation/week5/davidjo2-johvh/README.md
Labels: presentation, proposal

#464 Request Feedback for Essay: The Monitoring Process In Video Games
  contributions/feedback-planning.md
Labels: feedback_wanted

#470 Demo proposal: Virtual network peering in Microsoft Azure
  contributions/demo/adambjo-mhud/README.md
Labels: demo, proposal

#465 Register for feedback
  contributions/feedback-planning.md
Labels: feedback_wanted

#471 Request feedback for #469
  contributions/feedback-planning.md
Labels: feedback_wanted

#435 Presentation Proposal, week5: DevSecOps in Kubernetes
  contributions/presentation/week5/emetha-phwes/README.md
Labels: presentation, proposal
