Repository KTH/devops-course, pull requests merged in 2020-04, with the labels that each got.

#460 Open-source proposal: Wemake Python Styleguide
  contributions/open-source/ruwaid-dstevens/README.md
Labels: contribution_to_opensource, proposal

#431 Tutorial Proposal: GitOps with K8s & Flux CD
  contributions/tutorial/sasig-applelid/README.md
Labels: proposal, tutorial

#475 Tutorial Proposal: An introduction on how to use unit testing, regression testing and code coverage with IntelliJ
  contributions/tutorial/marcusew-dleon/README.md
Labels: proposal, tutorial

#490 Requested Feedback for tutorial (04/03)
  contributions/feedback-planning.md
Labels: feedback_wanted

#488 Finished Tutorial: Building Docker server for multiple web applications
  contributions/tutorial/varkalys-vplohse/README.md
Labels: final_submission, tutorial

#495 Revised Essay: The Monitoring Process In Video Games
  contributions/essay/ruwaid-hmellin/README.md
  contributions/essay/ruwaid-hmellin/The Monitoring Process In Video Games.pdf
Labels: essay, final_submission

#487 Tutorial proposal: fuzzing with Radamsa
  contributions/tutorial/hellesnes-madon/README.md
Labels: proposal, tutorial

#492 Tutorial proposal: Creating a bot on GitLab
  contributions/tutorial/jadlers-xmas92/README.md
Labels: proposal, tutorial

#479 Presentation Proposal: Continuous Experimentation
  contributions/presentation/week5/sraa-nsteele/README.md
Labels: presentation, proposal

#484 Tutorial proposal: Dockerizing your Favorite Game
  contributions/tutorial/perfah-joarek/README.md
Labels: proposal, tutorial

#455 essay proposal: Maven and its handling of build dependencies
  contributions/essay/rhodin-kotsias/README.md
Labels: essay, proposal

#501 Demo proposal: Pitest.org
  contributions/demo/louiseze-jii/README.md
Labels: demo, proposal

#483 Open-source proposal: Patching wlroots-sys
  contributions/open-source/perfah-applelid/README.md
Labels: contribution_to_opensource, proposal

#468 Tutorial Proposal: An investigation into Docker & Kubernetes.
  contributions/tutorial/nsteele-sraa/README.md
Labels: proposal, tutorial

#518 Presentation done: A/B Testing in DevOps
  contributions/presentation/week4/rosquis-shapour/A_BTestingInDevOps.pdf
Labels: final_submission, presentation

#511 Presentation proposal week6: Tracing
  contributions/presentation/week6/jovi-sandror/README.md
Labels: presentation, proposal

#503 Add Presentation Proposal Agile software development
  contributions/presentation/week5/tommysam-louiseze/README.md
Labels: presentation, proposal

#502 Essay proposal
  contributions/essay/varkalys-vplohse/README.md
Labels: essay, proposal

#519 Feedback wanted for tutorial #509
  contributions/feedback-planning.md
Labels: feedback_wanted

#517 Finished Tutorial: Code Coverage
  contributions/tutorial/jonasjo5/README.md
Labels: final_submission, tutorial

#522 Tutorial proposal: Chaos engineering in kubernetes clusters
  contributions/tutorial/jovi/README.md
Labels: proposal, tutorial

#497 Open-source proposal: Upgrade Strongbox documentation to mkdocs-material-5.0.0
  contributions/open-source/adambjo-bratfors/README.md
Labels: contribution_to_opensource, proposal

#523 Presentation: Final submission - DevOps Culture
  contributions/presentation/week4/jii-stinalan/README.md
  contributions/presentation/week4/jii-stinalan/WordCloud/our_Perception_Of_DevOps_Culture.png
  contributions/presentation/week4/jii-stinalan/WordCloud/the_StudentsPerception_Of_DevOpsCulture_Before_Presentation.png
Labels: final_submission, presentation

#510 COVID-19 Proposal: Visualization and prediction
  contributions/covid19/bwest-rug/README.md
Labels: covid19, proposal

#498 Essay proposal: Comparison between continuous testing vs automation testing
  contributions/essay/mrhasa/Continuous_Testing_VS_Test_Automation.pdf
  contributions/essay/mrhasa/README.md
  contributions/presentation/week3/mrhasa-mjza/README.md
Labels: essay, proposal

#491 Presentation proposal for week 6: Docker and its implementation
  contributions/presentation/week6/joarr-pbroberg/README.md
Labels: presentation, proposal

#489 Finished tutorial: Error Monitoring/Sentry.io
  contributions/tutorial/rosquis-shapour/README.md
Labels: final_submission, tutorial

#540 Finished: [Tutorial] An introduction to unit test, regression test and code coverage with IntelliJ
  contributions/tutorial/marcusew-dleon/README.md
Labels: final_submission, tutorial

#543 Feedback wanted for PR #540, Tutorial
  contributions/feedback-planning.md
Labels: feedback_wanted

#532 Demo: Adding monitoring to an API for a personal website
  contributions/demo/jadlers/README.md
Labels: demo, proposal

#545 Registration
  contributions/competition/gdowling-keivanm/README.md
Labels: competition

#549 Upload essay with pdf for grading
  contributions/essay/applelid-kasperli/KTH_DevOps_Essay.pdf
  contributions/essay/applelid-kasperli/README.md
Labels: essay, final_submission

#548 Asking for feedback
  contributions/feedback-planning.md
Labels: feedback_wanted

#442 Tutorial: Docker
  contributions/tutorial/almajni-felixlut/README.md
Labels: proposal, tutorial

#556 Competition registration
  contributions/competition/adambjo/README.md
Labels: competition, proposal

#539 Tutorial proposal: Apache on docker
  contributions/tutorial/phwe/README.md
Labels: proposal, tutorial

#555 Finished tutorial on chaos in Kubernetes
  contributions/tutorial/jovi/README.md
Labels: final_submission, tutorial

#552 Add complete tutorial: Grafana #454
  contributions/tutorial/johvh/grafana.md
  contributions/tutorial/johvh/images/alert.png
  contributions/tutorial/johvh/images/alert_settings.png
  contributions/tutorial/johvh/images/data_source.png
  contributions/tutorial/johvh/images/example.png
  contributions/tutorial/johvh/images/front.png
  contributions/tutorial/johvh/images/grafana.png
  contributions/tutorial/johvh/images/grafana_postgres.png
  contributions/tutorial/johvh/images/grafana_welcome.png
  contributions/tutorial/johvh/images/grafanastart.png
  contributions/tutorial/johvh/images/graph.png
  contributions/tutorial/johvh/images/interface.png
  contributions/tutorial/johvh/images/ok_db.png
  contributions/tutorial/johvh/images/query.png
  contributions/tutorial/johvh/images/select.png
  contributions/tutorial/johvh/images/sources.png
  contributions/tutorial/johvh/images/startup.png
  contributions/tutorial/johvh/images/types.png
  contributions/tutorial/johvh/images/updated.png
Labels: final_submission, tutorial

#344 Add initial demo proposal
  contributions/demo/joarek-settlin/README.md
Labels: demo, proposal

#554 Demo proposal - Continous development, delivery, and pipelines with CircleCI
  contributions/demo/jonasjo5-marcusew/README.md
Labels: demo, proposal

#558 Initial tutorial proposal - Rodin: Modelling with Event B
  contributions/tutorial/ruwaid-davidjo2/README.md
Labels: proposal, tutorial

#567 Requested feedback for Essay
  contributions/feedback-planning.md
Labels: feedback_wanted

#571 Update COVID-19 project proposal
  contributions/covid19/bwest-rug/README.md
Labels: covid19, proposal

#568 Essay submission: How AWS Encourages DevOps
  contributions/essay/asratyan-dautaras/DevOps_Essay_ref.pdf
  contributions/feedback-planning.md
Labels: essay, final_submission

#524 Presentation proposal: Serverless computing
  contributions/presentation/week6/pojans-akshays/README.md
Labels: presentation, proposal

#562 Open-source contribution proposal: Zerocode introduction video
  contributions/open-source/hmellin-paulher/README.md
Labels: contribution_to_opensource, proposal

#575 Proposal Open-Source Task
  contributions/open-source/ppmo-eyrun/README.md
Labels: contribution_to_opensource, proposal

#577 Change Presentation proposal: Securing Kubernetes Cluster with Network Policies
  contributions/presentation/week5/emetha-phwes/README.md
Labels: presentation

#593 Updated Tutorial Link: Implementing CICD in ServiceNow using flow designer
  contributions/tutorial/akhily/Readme.md
Labels: final_submission, tutorial

#595 Final submission of covid-19 project
  contributions/covid19/bwest-rug/README.md
Labels: covid19, final_submission

#596 Final submission: COVID-19 assignment
  contributions/covid19/tommysam-jii/COVID19_COURSE_INFO.md
  contributions/feedback-planning.md
Labels: covid19, feedback_wanted, final_submission

#586 Covid-19 proposal: Covid-19 Cases by Counties
  contributions/covid19/perfah-joarek/README.md
Labels: covid19, proposal

#592 Demo Proposal: Load balancing gRPC Remote Procedure Calls in Kubernetes
  contributions/demo/jovi-sandror-felixlut/proposal.md
Labels: demo, proposal

#618 Add link of finished essay
  contributions/essay/varkalys-vplohse/README.md
Labels: essay, final_submission

#620 Finished essay: Diﬀerent ways of improving DevOps with Machine learning
  contributions/essay/marcusew/Different_ways_of_improving_DevOps_with_Machine_learning.pdf
Labels: essay, final_submission

#615 add competition entry
  contributions/competition/javierro-mjza/README.md
Labels: competition, proposal

#610 Tutorial submission: Azure.DevOps.Pipeline.and.More
  contributions/essay/hiteshs/IaC using Terraform (Essay)
  contributions/tutorial/hiteshs-eyueltb-avijit/Azure.DevOps.Pipeline.and.More.pdf
Labels: final_submission, tutorial

#576 Tutorial Proposal: Python toolchain for deploying a release build
  contributions/competition/cwing/README.md
  contributions/tutorial/bwest-cwing/README.md
Labels: competition, proposal, tutorial

#624 How To Build Your Own Github Action
  contributions/tutorial/alevol-keivanm/READEME.md
Labels: proposal, tutorial

#608 Tutorial proposal: Flask-MonitoringDashboard
  contributions/tutorial/settlin-adambjo/README.md
Labels: proposal, tutorial

#607 Essay Proposal: A/B Testing and its benefits
  contributions/essay/settlin-joarek/README.md
Labels: essay, proposal

#629 Presentation Final sumbission: Git Hooks: What They Are and How to Use Them
  contributions/presentation/week5/asratyan-vplohse/DD2482_Presentation.pdf
  contributions/presentation/week5/asratyan-vplohse/README.md
Labels: final_submission, presentation

#632 Add presentation: Comparison of two deployment strategies #456
  contributions/presentation/week5/davidjo2-johvh/presentation.md
  contributions/presentation/week5/davidjo2-johvh/presentation.pdf
Labels: final_submission, presentation

#613 Finished presentation: Monolithic vs Microservices Architecture (repetition in May)
  contributions/presentation/week3/dleon-rezkalla/README.md
Labels: final_submission, presentation

#639 Presentation submit
  contributions/presentation/week5/tommysam-louiseze/README.md
  contributions/presentation/week5/tommysam-louiseze/SCRUM_Presentation.pdf
Labels: final_submission, presentation

#641 Add link to repo (covid-19 proposal)
  contributions/covid19/perfah-joarek/README.md
Labels: covid19, proposal

#565 Demo Proposal: Using Github Actions to run tests on Docker containers
  contributions/demo/olapiv-goradux/README.md
Labels: demo, proposal

#598 Tutorial completed: Fuzzing with Radamsa
  contributions/tutorial/hellesnes-madon/README.md
Labels: feedback_wanted, final_submission, tutorial

#650 Essay proposal: Website monitoring overview
  contributions/essay/davidjo2/README.md
Labels: essay, proposal

#605 Demo proposal: Calico policies in Kubernetes
  contributions/demo/bratfors-kasperli/README.md
Labels: demo, proposal

#633 Submission Covid19: Help Fight Covid19 Social Web App
  contributions/covid19/mhud-nsteele/README.md
Labels: covid19, final_submission

#647 Tutorial Proposal: E2E testing with Cypress.io and BuildBot
  contributions/tutorial/emetha/README.md
Labels: proposal, tutorial

#547 Finished tutorial: Github Apps and Actions
  contributions/tutorial/jii-louiseze/README.md
Labels: feedback_wanted, final_submission, tutorial

#646 Demo proposal
  contributions/demo/varkalys-dautaras/README.md
Labels: demo, proposal

#654 Essay Proposal: Infrastructure as Code
  contributions/essay/bratfors/README.md
Labels: essay, proposal

#649 Tutorial Proposal: Version Control
  contributions/tutorial/pojans-rug/README.md
Labels: proposal, tutorial

#656 Tutorial proposal: Self-hosting Git with Docker
  contributions/tutorial/dstevens-hmellin/README.md
Labels: proposal, tutorial

#644 Essay: Feedback needed
  contributions/feedback-planning.md
Labels: essay, feedback_wanted

#670 Essay proposal - Penetration testing
  contributions/essay/bwest-cwing/README.md
Labels: essay, proposal

#676 Essay Submission: Containers: Is it worth banishing the Daemons and clearing the Roots
  contributions/essay/carljen-alevol/README.md
  contributions/feedback-planning.md
Labels: essay, feedback_wanted, final_submission

#704 Completed open-source: Wemake Python Styleguide
  contributions/open-source/ruwaid-dstevens/README.md
Labels: contribution_to_opensource, proposal

#507 Demo Submission: Data Corruption
  contributions/demo/tommysam-stinalan/README.md
Labels: demo, final_submission

#572 Tutorial submission: GitOps with K8s & Flux CD
  contributions/tutorial/sasig-applelid/README.md
Labels: feedback_wanted, final_submission, tutorial

#606 Demo Finished: Requesting Feedback
  contributions/demo/joarek-settlin/README.md
Labels: demo, final_submission

#748 Changing Tutorial Proposal: Setting up Cypress with Docker
  contributions/tutorial/emetha/README.md
Labels: proposal, tutorial

#747 Completed tutorial - Rodin: Modelling with Event-B
  contributions/tutorial/ruwaid-davidjo2/README.md
Labels: final_submission, tutorial

#750 Demo proposal: Test Amplification Using Dspot
  contributions/demo/sraa/README.md
Labels: demo, proposal

#751 Final essay submission
  contributions/essay/jovi-giorgost/Static_and_Dynamic_Load_Balancing_Techniques_and_Implementations.pdf
Labels: essay, final_submission

#765 Demo Proposal: Using Terraform with GCP server for static IP webhook calls
  contributions/demo/akhily/Readme.md
Labels: demo, proposal

#755 Finished Lambdatest Tutorial
  contributions/tutorial/pbroberg-joarr/README.md
Labels: final_submission, tutorial

#756 Final tutorial submission: Version Control in Large-scale projects
  contributions/tutorial/pojans-rug/README.md
Labels: final_submission, tutorial

#757 Final essay submission: Software Measurement and Code Coverage
  contributions/essay/rug/softwaremeasurement.pdf
Labels: essay, final_submission

#758 Completed task - Open-Source: Setup a process for Architecture Decision Records (ADR)
  contributions/open-source/ppmo-eyrun/README.md
Labels: contribution_to_opensource, final_submission

#759 Add link to finished essay in README.md
  contributions/essay/pojans-sraa/README.md
Labels: essay, final_submission

#760 Final essay submission
  contributions/essay/johvh/Introduction_to_Load_Balancers.pdf
  contributions/essay/johvh/README.md
Labels: essay, final_submission

#762 Final tutorial submission (updated)
  contributions/tutorial/sunneg-klaraes/README.md
Labels: final_submission, tutorial

#763 Final essay submission
  contributions/essay/klaraes-pbroberg/README.md
  contributions/essay/klaraes-pbroberg/klaraes-pbroberg-essay.pdf
Labels: essay, final_submission

#764 essay: add pdf
  contributions/essay/sandror-kotsias/DevOps_Essay.pdf
Labels: essay, final_submission

#766 Completed Task: Corona-FAQs Android App
  contributions/covid19/chikafa/README.md
Labels: covid19, final_submission

#767 Finished Tutorial: Link added
  contributions/tutorial/alevol-keivanm/READEME.md
Labels: final_submission, tutorial

#770 COVID19 Final Submission
  contributions/covid19/akshays-dingli/README.md
Labels: covid19, final_submission

#771 Added link to finished tutorial
  contributions/tutorial/gdowling/README.md
Labels: final_submission, tutorial

#773 Submit Tutorial
  contributions/tutorial/emetha/README.md
Labels: final_submission, tutorial
