Repository KTH/devops-course, pull requests merged in 2021-04, with the labels that each got.

#1069 Essay proposal: How much code coverage is enough?
  contributions/essay/isacarv-anhenri/README.md
Labels: essay

#1076 Demo proposal: Automated development pipeline for Chrome extensions
  contributions/demo/karrby-kultala/README.md
Labels: demo

#1057 Essay Proposal - Azure
  contributions/essay/johanmb-dsharifi/README.md
Labels: essay

#1036 Executable tutorial: Learn to integrate Jest in your React-Redux projects
  contributions/executable-tutorial/agnespet-adahen/README.md
Labels: tutorial

#1084 Essay: ITOPS VS DEVOPS: What is the difference and how they can be used together?
  contributions/essay/carllei-cotutiu/README.md
Labels: essay

#1104 change of the team member
  contributions/executable-tutorial/zidi-sihanc/README.md
Labels: enhancement

#1079 Essay: Comparison of Azure, AWS, and GCP based on DevOps
  contributions/essay/mrhasa-gangwal/README.md
Labels: essay

#1021 Essay: Comparison of Splunk and Nagios Devop monitoring tools and their use cases
  contributions/essay/carinawi-urama/README.md
Labels: essay

#967 Demo: Using Cloud Functions in Firebase to create a serverless React app
  contributions/demo/mwesslen-larasm-cjgst/README.md
Labels: demo

#986 Demo proposal: CD of Node Express App on Google Cloud with designated realese branch using github actions
  contributions/demo/kalpet-andnil5/README.md
Labels: demo

#1111 Demo: CI and CD pipeline using azure devops.
  contributions/demo/mrhasa/README.md
Labels: demo

#1097 Course automation: Improve communication with Discord integration
  contributions/course-automation/annnik/README.md
Labels: course_automation

#1098 Demo: Merging tool for Salesforce Deployments
  contributions/demo/swill-oskstr/README.md
Labels: demo

#1094 Executable tutorial: Secure an API endpoint using Keycloak running in…
  contributions/executable-tutorial/lerjevik-wska/README.md
Labels: tutorial

#1110 Feeback on essay (#1023)
  contributions/feedback/urama/README.md
Labels: feedback

#1116 Executable tutorial: CI workflow using GitHub actions for Node.js Express app, including automated testing and linting using Jest and Eslint
  contributions/executable-tutorial/andnil5-nwessman/README.md
Labels: tutorial

#1120 Demo proposal 🎥 : Testing and running Github actions locally with Act
  contributions/demo/annnik/README.md
Labels: demo

#1073 Course Automation: Suggesting legal teammates for projects
  contributions/course-automation/arieltan-carinawi/README.md
Labels: course_automation

#1090 Tutorial: Added team member and changed to locally run tutorial
  contributions/executable-tutorial/chrigu-fbjorkma/README.md
Labels: group_update

#1122 Executable-Tutorial: API testing using RestSharp and Specflow in C# application.
  contributions/executable-tutorial/mrhasa-gangwal/README.md
Labels: tutorial

#1115 Feedback proposal for #982
  contributions/feedback/vladom/README.md
Labels: feedback

#1150 Feedback Proposal: Tutorial for feedback: CI workflow for C++ project using Travis CI and CxxTest for automated building and testing [#1138]
  contributions/feedback/gangwal/README.md
Labels: feedback

#1151 Feedback proposal for #1080
  contributions/feedback/oscaralm/README.md
Labels: feedback

#1134 Executable tutorial proposal: Deploying scheduled functions on Kubernetes using Kubeless
  contributions/executable-tutorial/siper-atema/README.md
Labels: tutorial

#1033 Executable Tutorial: GitLab implementation of CI/CD
  contributions/executable-tutorial/charande-lazarc/README.md
Labels: tutorial

#1074 Demo: ML CI/CD with Google Cloud and Kubeflow
  contributions/demo/johham-sestak/README.md
Labels: demo

#1102 Tutorial proposal: Ansible for Jenkins and K8
  contributions/executable-tutorial/sestak/README.md
Labels: tutorial

#1077 Video demo: Message brokering using RabbitMQ
  contributions/demo/cotutiu-moise/README.md
Labels: demo

#1137 Course automation proposal: check criterion for groups with 3 students
  contributions/course-automation/agnesfo-eryman/README.md
Labels: course_automation

#1139 Feedback: Proposal feedback on #999 "Essay: Automated tests for infrastructure code (#999)"
  contributions/feedback/fbjorkma/README.md
Labels: feedback

#1138 Executable tutorial proposal: CI workflow for C++ project using Travis CI and CxxTest for automated building and testing
  contributions/executable-tutorial/kalpet/README.md
Labels: tutorial

#1161 Executable Tutorial: Deploying an API with a Custom Lambda Authorizer using Serverless
  contributions/executable-tutorial/oskstr/README.md
Labels: tutorial

#1162 Feedback Proposal for #1161
  contributions/feedback/swill/README.md
Labels: feedback

#1160 Tutorial Proposal: Implementing AWS Lambda and invoking it with AWS SES
  contributions/executable-tutorial/swill/README.md
Labels: tutorial

#1152 Demo proposal: Automatically publishing tested Node.js packages on npm with Github Actions
  contributions/demo/oscaralm/README.md
Labels: demo

#1158 Tutorial: Continuous benchmarking using Github Actions
  contributions/executable-tutorial/johhamm-carllei/README.md
Labels: tutorial

#1135 Feedback executable tutorial #1116
  contributions/feedback/agnesfo-eryman/README.md
Labels: feedback

#1159 Feedback proposal: Essay - ITOPS VS DEVOPS: What is the difference and how they can be used together?
  contributions/feedback/larasm/README.md
Labels: feedback

#1153 Feedback proposal for essay [#1027]
  contributions/feedback/lidfeldt/README.MD
Labels: feedback

#1164 Feedback proposal: Implementing AWS Lambda and invoking it with AWS SES (#1160)
  contributions/feedback/oskstr/README.md
Labels: feedback

#1169 Executable-tutorial proposal: Create multi Jenkins containers in Windows-Sub-Linux based on systemd-nspawn.
  contributions/executable-tutorial/yuehao/README.md
Labels: tutorial

#1172 Open-source: Bug fixing for the open-source project act
  contributions/open-source/renstr-alekru/README.md
Labels: contribution_to_opensource

#1170 Presentation proposal: BizDevOps
  contributions/presentation/week3/lazarc/README.md
Labels: presentation

#1177 Essay proposal: property based testing
  contributions/essay/zidi-yuehao/README.md
Labels: essay

#1184 Feedback Proposal (Essay): property based testing #1177
  contributions/feedback/charande/README.md
Labels: feedback

#1181 Presentation proposal: Infastructure Automation using Ansible.
  contributions/presentation/week6/urama-yuxinm/README.md
Labels: presentation

#1174 Feedback proposal for #1163
  contributions/feedback/agnespet/FeedbackRequest.md
Labels: feedback

#1188 Feedback proposal (Tutorial) for #1158
  contributions/feedback/siper/README.md
Labels: feedback

#1007 Video demo: How to leverage Docker and Kubernetes for creating a Microservice Web App
  contributions/demo/taqui/README.md
Labels: demo

#1199 Presentation proposal week 5: Flaky tests
  contributions/presentation/week5/augustjo-grunler/README.md
Labels: presentation

#1141 Essay proposal - The Rust language build pipelines
  contributions/essay/aronber-yannik/Readme.md
Labels: tutorial

#1163 Executable tutorial proposal: Using GitLab CI/CD to setup a Unity project with automated testing
  contributions/executable-tutorial/gchang/README.md
Labels: tutorial

#1173 # Executable-tutorial: Setting up a Linode server running Integrity for Continuous Integration testing with automated
  contributions/executable-tutorial/renstr-alekru/README.md
Labels: tutorial

#1171 Presentation Proposal: CodeQL for automated code analysis
  contributions/presentation/week6/axp-chrigu/README.md
Labels: presentation

#1206 Presentation proposal: DevOps in high security environments - defense industry
  contributions/presentation/week4/isakha-lidfeldt/README.md
Labels: presentation

#1178 Proposal Feedback: Comparison of Splunk and Nagios Devop monitoring tools and their use cases
  contributions/feedback/renstr-yuxinm/README.md
Labels: feedback

#1201 Essay proposal: Polyglot programming with GraalVM
  contributions/essay/vladom-dsharifi/README.md
Labels: essay, proposal

#1202 Feedback proposal on #1009
  contributions/feedback/lazarc/README.md
Labels: feedback, proposal

#1149 Open source contribution proposal: Contributor Scoreboard
  contributions/open-source/kallem-mwesslen/README.md
Labels: contribution_to_opensource, proposal

#1167 Essay proposal - How to use Jira for agile project managment
  contributions/essay/fbjorkma-adahen/README.md
Labels: essay

#1189 Tutorial: Introduction of Pijul
  contributions/executable-tutorial/yannik-dsharifi/README.md
Labels: tutorial

#1198 Feedback proposal on #1169
  contributions/feedback/brogard/README.md
Labels: feedback, proposal

#1207 Presentation proposal: Whitebox fuzzing
  contributions/presentation/week5/kittyt-sebene/README.md
Labels: presentation, proposal

#1218 Essay proposal: Introduction to ChatOps
  contributions/essay/eryman/README.md
Labels: essay, proposal

#1221 Feedback proposal #1214
  contributions/feedback/alekru/readme.md
Labels: feedback, proposal

#1223 Proposal Executable tutorial: 👩‍🏫 Migrating a monolithic application to microservices
  contributions/executable-tutorial/annnik/README.md
Labels: proposal, tutorial

#1227 # Feedback proposal on #1223
  contributions/feedback/cotutiu/README.md
Labels: feedback, proposal

#1228 Executable tutorial proposal: Set up Renovate with a NodeJS based Web Application
  contributions/executable-tutorial/kittyt-sebene/README.md
Labels: proposal, tutorial

#1230 Executable tutorial proposal: CI for Python with unittest using Github Actions
  contributions/executable-tutorial/majate-axelelm/README.md
Labels: proposal, tutorial

#1237 Open-source proposal: Meta-data Report of Github Repo
  contributions/open-source/kultala-borzi/README.md
Labels: contribution_to_opensource, proposal

#1241 Change folder name
  contributions/feedback/anhenri/README.md
Labels: bug

#1245 Executable tutorial proposal: AWS with Clojure
  contributions/executable-tutorial/felixfon-bouaddi/README.md
Labels: proposal, tutorial

#1248 Demo proposal: Monitoring availability using Cloudprobe and Prometheus
  contributions/demo/atema-siper/README.md
Labels: demo, proposal

#1252 Presentation proposal: Gradle vs. Maven
  contributions/presentation/week6/majate-axelelm/README.md
Labels: presentation, proposal

#1254 Demo: Automatically generate Python unittest results in HTML reports with Jenkins
  contributions/demo/sihanc-yuehao/README.md
Labels: proposal

#1255 Proposal demo: Continuous deployment on Google Play Store
  contributions/demo/vladom-johanmb/README.md
Labels: demo, proposal

#1263 Executable tutorial: How to setup CI/CD pipeline for react-app
  contributions/executable-tutorial/damne/README.md
Labels: proposal, tutorial

#1242 Request to update already merged PR (#1036)
  contributions/executable-tutorial/agnespet-adahen/README.md
Labels: proposal, tutorial

#1196 Executable Tutorial: Building a CI/CD Pipeline for a small frontend in a Kubernetes Cluster using Terraform
  contributions/executable-tutorial/taqui-kun/README.md
Labels: proposal, tutorial

#1121 Feedback proposal: #979
  contributions/feedback/hheyman-moise/README.md
Labels: feedback

#1235 Presentation: Mobile backend as a Service in DevOps
  contributions/presentation/week6/larasm-cjgst/README.md
Labels: presentation, proposal

#1091 Feedback: proposal for essay #1167
  contributions/feedback/kittyt-axelelm/README.md
Labels: feedback, proposal

#1264 Feedback for #1205
  contributions/essay/johanmb/README.md
  contributions/feedback/johanmb/README.md
Labels: feedback, proposal

#1225 Feedback on #1196
  contributions/feedback/alekru/readme.md
Labels: feedback, proposal

#1268 Executable-tutorial: Proposal change
  contributions/executable-tutorial/sestak-fwallb/README.md
Labels: proposal, tutorial

#1267 Feedback proposal: #1263 "Executable tutorial: How to setup CI/CD pipeline for react-app"
  contributions/feedback/badal-grunler/README.md
Labels: feedback, proposal

#1273 Feedback proposal on #1134: Deploying scheduled functions on Kubernetes using Kubeless
  contributions/feedback/ericvi-manande/REDME.md
Labels: feedback, proposal

#1262 Amend students involved in tutorial
  contributions/executable-tutorial/yannik-vladom/README.md
Labels: proposal, tutorial

#1282 Presentation Proposal: Managing secrets in dynamic environments with HashiCorp Vault
  contributions/presentation/week5/amarh-ntas/README.md
Labels: presentation, proposal

#1292 Feedback Proposal on Executable Tutorial #1278
  contributions/feedback/atema/README.md
Labels: feedback, proposal

#1299 Final Submission - Course Automation: Checking Open-Source Requirements
  contributions/course-automation/oskstr-swill/README.md
Labels: course_automation, final_submission

#1285 Presentation : DevOps adoption in large Enterprise through Continuous Testing
  contributions/presentation/week3/renanb-gangwal/README.md
Labels: final_submission, presentation

#1306 Course Automation Proposal: Labelizing "feedbackable" merged PR contributions
  contributions/course-automation/bouaddi/README.md
Labels: course_automation, proposal

#1313 Tutorial proposal update change (oldPR: #1163)
  contributions/executable-tutorial/gchang/README.md
Labels: proposal_update

#1251 Tutorial proposal: Automated monitoring/analytics with ELK Stack
  contributions/executable-tutorial/karrby-kultala/README.md
Labels: proposal, tutorial

#1314 Exacutable tutorial propsal: setting up splunk in docker container
  contributions/executable-tutorial/hheyman-augustjo/README.md
Labels: proposal, tutorial

#1317 Feedback proposal on tutorial #1102
  contributions/feedback/kallem/README.md
Labels: feedback, proposal

#1256 Feedback proposal
  contributions/feedback/sihanc/README.md
Labels: feedback, proposal

#1334 Moving from Integrity to Abstruse
  contributions/executable-tutorial/renstr-alekru/README.md
Labels: proposal_update, tutorial

#1343 Executable tutorial proposal: Docker container running an FTP server
  contributions/executable-tutorial/kallem-manande/README.md
Labels: proposal, tutorial

#1337 Executable tutorial proposal: Continuous integration in a python project with Pytest and Travis-CI.
  contributions/executable-tutorial/eryman/README.md
Labels: proposal, tutorial

#1357 feedback on PR #1305
  contributions/feedback/gangwal/README.md
Labels: feedback, final_submission

#1369 Essay Proposal: "End-to-end testing: Useful practice or frustrating time sink?"
  contributions/essay/badal-grunler/README.md
Labels: essay, proposal

#1157 Submission of Course Automation: Upvote other students' work (#991)
  contributions/course-automation/lerjevik-renstr/README.md
  contributions/course-automation/lerjevik-renstr/images/add_reaction.png
  contributions/course-automation/lerjevik-renstr/images/comment_added_to_PR.png
  contributions/course-automation/lerjevik-renstr/images/creating_PR_with_label.png
  contributions/course-automation/lerjevik-renstr/images/issue_created.png
  contributions/course-automation/lerjevik-renstr/images/issue_thread.png
  contributions/course-automation/lerjevik-renstr/images/running_checks.png
  contributions/course-automation/lerjevik-renstr/images/toplist_table.png
Labels: course_automation, final_submission

#1383 Presentation (submission): Managing secrets in dynamic environments with HashiCorp Vault
  contributions/presentation/week5/amarh-ntas/README.md
Labels: final_submission, presentation

#1290 Feedback submission: Learn to integrate Jest in your React projects [#1242]
  contributions/feedback/andnil5-nwessman/README.md
Labels: feedback, final_submission

#1310 Final Submission: Course Automation Suggesting legal teammates for projects
  contributions/course-automation/arieltan-carinawi/README.md
Labels: course_automation, final_submission

#1371 Executable Tutorial Submission: Building a CI/CD Pipeline for a small frontend in a Kubernetes Cluster using Terraform
  contributions/executable-tutorial/taqui-kun/README.md
  contributions/executable-tutorial/taqui-kunwu/README.md
Labels: final_submission, tutorial

#1395 Executable tutorial Submission: Integrating Code Climate in developers workflow with shell scripts and docker
  contributions/executable-tutorial/README.md
  contributions/executable-tutorial/badal-johennin/README.md
Labels: final_submission, tutorial

#1380 Sumbit feedback
  contributions/feedback/kunwu/README.md
Labels: feedback, final_submission

#1413 Feedback Proposal for Essay - "End-to-end testing: Useful practice or frustrating time sink?" - PR ID #1369
  contributions/feedback/renanb/README.md
Labels: feedback, proposal

#1130 Course automation submission: Hemingway feedback on essays
  contributions/course-automation/wska-alekru/README.md
  contributions/course-automation/wska-alekru/aPDF.py
  contributions/course-automation/wska-alekru/hemingway.py
  contributions/course-automation/wska-alekru/main.py
  contributions/course-automation/wska-alekru/pdf2txt.py
  contributions/course-automation/wska-alekru/requirements.txt
  contributions/course-automation/wska-thestar19/README.md
Labels: course_automation, final_submission

#1433 Final submission of essay
  contributions/essay/mrhasa-gangwal/Comparison_of_DevOps_Pipeline_Setup_in_Public_Cloud.pdf
Labels: essay, proposal

#1434 Demo proposal: Chaos Testing in a deployed environment
  contributions/demo/nwessman/README.md
Labels: demo, proposal

#1422 [Submission] Executable tutorial: CI in a python project with Pytest and Travis-CI.
  contributions/executable-tutorial/eryman/README.md
Labels: final_submission, tutorial
