Repository KTH/devops-course, pull requests merged in 2021-03, with the labels that each got.

#937 Automation Proposal: Generate Summary Readme
  contributions/course-automation/felixfon/README.md
Labels: course_automation

#925 Course automation: Checking essay requirements
  contributions/course-automation/atema/README.md
Labels: course_automation

#933 Essay: Security of Microservices-based Applications
  contributions/essay/fseifert/README.md
Labels: essay

#940 Presentation: Nix
  contributions/presentation/week3/yannik/README.md
Labels: presentation

#951 Demo: Bitbucket clone.io integration
  contributions/demo/sebene-majate/README.md
Labels: demo

#928 Course automation: Dashboard for tasks
  contributions/course-automation/axp-chrigu/README.md
Labels: course_automation

#954 Presentation: Cloud and the journey for a start-up to Fortune 500
  contributions/presentation/week3/taqui/README.md
Labels: presentation

#955 Demo: Publishing a Java package to Maven Central using Github Actions
  contributions/demo/axp-fseifert/README.md
Labels: demo

#941 Presentation: DevOps practises in a Sundsvall company
  contributions/presentation/weak2/isacarv-anhenri/README.md
Labels: presentation

#957 Fix presentation on week2
  contributions/presentation/week2/isacarv-anhenri/README.md
Labels: enhancement

#939 Course Automation: Checking Open-Source Requirements
  contributions/course-automation/oskstr-swill/README.md
Labels: course_automation

#960 Demo: CD React app on AWS
  contributions/demo/axelelm-kittyt/README.md
Labels: demo

#948 Course automation: Check Feedback Requirements
  contributions/course-automation/augustjo-grunler/README.md
Labels: course_automation

#952 Essay Proposal: FaaS, Serverless, Containerization, and DevOps
  contributions/essay/taqui/README.md
Labels: essay

#961 Presentation: MLOPS - Current application and future possibilities
  contributions/presentation/week3/johham-sestak/README.md
Labels: presentation

#965 Essay: Comparison of DevOps and SRE
  contributions/essay/agnesfo-gdba/README.md
Labels: essay

#959 Course automation: Automatic duplicate proposal detection
  contributions/course-automation/badal-johennin/README.md
Labels: course_automation

#976 Essay: What are the benefits of using Infrastructure as Code?
  contributions/essay/brogard-despinoy/README.md
Labels: essay

#944 Course Automation: Checking link validity in the course github text descriptions
  contributions/course-automation/zidi-sihan/README.md
Labels: course_automation

#975 Demo: Kubeflow on AWS
  contributions/demo/cpiehl-nacca/README.md
Labels: demo

#974 Tutorial: Proposal for Pi-Hole Docker tutorial
  contributions/executable-tutorial/cjgst/README.md
Labels: tutorial

#980 Course Automation: Validate video length
  contributions/course-automation/anhenri/README.md
Labels: course_automation

#927 Presentation on monitoring with the tool Prometheus
  contributions/presentation/week2/aronber-fbjorkma/README.md
Labels: presentation

#990 Video demo proposal: Beginners guide on automated backups in azure
  contributions/demo/arieltan-zangis/README.md
Labels: demo

#958 Course automation: Notification for proposal-PR new comments
  contributions/course-automation/isacarvid-aatif/README.md
Labels: course_automation

#972 Executable Tutorial proposal: Integrate DataDog in existing app
  contributions/executable-tutorial/brogard-despinoy/README.md
Labels: tutorial

#993 Presentation Kanban vs Scrum
  contributions/presentation/week4/despinoy-gdba/README.md
Labels: presentation

#991 Course Automation: Upvote other students' work
  contributions/course-automation/lerjevik-renstr/README.md
Labels: course_automation

#1001 Reschedule Nix presentation to week 2
  contributions/presentation/week2/yannik/Introduction to Nix.pdf
  contributions/presentation/week2/yannik/README.md
Labels: enhancement

#932 Course Automation: automatic labels
  contributions/course-automation/kallem-manande/README.md
Labels: course_automation

#992 Demo proposal: Implementation of Docker to React Application
  contributions/demo/despinoy-gdba/README.md
Labels: demo

#994 Demo: How to add code coverage report on Github using Clover and GitHub Action
  contributions/demo/damne-fwallb/Readme.md
Labels: demo

#999 Essay: Automated tests for infrastructure code
  contributions/essay/amarh-nwessman/README.md
Labels: essay

#981 Course automation: Verify pull request content changes
  contributions/course-automation/zangis/README.md
Labels: course_automation

#1005 Presentation week2
  contributions/presentation/week2/annnik-carllei/README.md
Labels: presentation

#956 Executable tutorial: nginx on vagrant box
  contributions/executable-tutorial/cotutiu-moise/README.md
Labels: tutorial

#995 Essay: DevSecOps - the new DevOps?
  contributions/essay/damne-fwallb/README.md
Labels: essay

#996 Course automation Proposal: Checking legal group composition
  contributions/course-automation/kultala-borzi/README.md
Labels: course_automation

#1009 Essay proposal: Investigation of Containerization Solutions
  contributions/essay/ericvi-oscaralm/README.md
Labels: essay

#1008 Course automation: Essay bibliography check & summary
  contributions/course-automation/amarh-ntas/README.md
Labels: course_automation

#1015 Tutorial: Automation of web frontend testing using Selenium
  contributions/executable-tutorial/mwesslen-larasm/README.md
Labels: tutorial

#1028 Executable Tutorial Proposal: Setting up a Jenkins CI/CD pipeline for deploying to Docker Hub
  contributions/executable-tutorial/chrigu/README.md
Labels: tutorial

#1025 Executable tutorial proposal: integrate TeamCity with Docker
  contributions/executable-tutorial/zidi/README.md
Labels: tutorial

#1023 Essay: Comparison of Kubernetes and Nomad
  contributions/essay/lerjevik-nacca/README.md
Labels: essay

#1032 Essay proposal: BDD in DevOps
  contributions/essay/agnespet/README.md
Labels: essay

#1047 Open-Source contribution: deploy-rs
  contributions/open-source/aronber-yannik/README.md
Labels: contribution_to_opensource

#1031 Essay: The trend of distributed software architecture
  contributions/essay/kunwu/README.md
Labels: essay

#1029 Demo: Designing integration tests with cypress
  contributions/demo/aronber/README.md
Labels: demo

#1038 Demo: Github integration with Jenkins
  contributions/demo/yuxin-urama/Readme.md
Labels: demo

#1053 Presentation Proposal: DevSecOps takeaways from Hacking into Google's Network for $133,337
  contributions/presentation/week5/aatif/README.md
Labels: presentation

#1048 Feedback for #976
  contributions/feedback/damne/ReadMe.md
Labels: feedback

#1056 Feedback Proposal for #1018
  contributions/executable-tutorial/axp-fseifert/README.md
  contributions/feedback/fseifert/README.md
Labels: feedback

#1060 Feedback proposal for #995
  contributions/feedback/gchang/README.md
Labels: feedback

#983 Feedback proposal for essay #970
  contributions/feedback/ntas/README.md
Labels: feedback

#1037 Presentation proposal: Cypress component & e2e test
  contributions/presentation/week6/agnespet-adahen/README.md
Labels: presentation

#1040 Demo: Docker monitoring using Datadog
  contributions/demo/ericvi-manande/REAMDE.md
Labels: demo
