Repository KTH/devops-course, pull requests merged in 2021-05, with the labels that each got.

#1356 Submission: Pijul (tutorial)
  contributions/executable-tutorial/yannik-vladom/README.md
Labels: final_submission, tutorial

#1435 Presentation submission: Slides added
  contributions/presentation/week4/carinawi-mrhasa/Follow up presentation_ Load balancers & Autoscaling.pdf
  contributions/presentation/week4/carinawi-mrhasa/README.md
Labels: final_submission, presentation

#1445 [Submission]: Executable tutorial: MLOps - Automation of Model Evaluation #1019
  contributions/executable-tutorial/ericvi-oscaralm/README.md
Labels: final_submission, tutorial

#1411 Feedback submission
  contributions/feedback/anhenri/README.md
Labels: feedback, final_submission

#1412 Executable tutorial final submission: Docker container running an FTP server
  contributions/executable-tutorial/kallem-manande/README.md
Labels: final_submission, tutorial

#1416 Feedback task (submission)
  contributions/feedback/amarh/README.md
Labels: feedback, final_submission

#1426 Submission: Executable-tutorial Linode & Abstruse
  contributions/executable-tutorial/renstr-alekru/Executable_Tutorial-3.pdf
  contributions/executable-tutorial/renstr-alekru/README.md
Labels: final_submission, tutorial

#1428 [Final submission] Course automation: check group of 3
  contributions/course-automation/agnesfo-eryman/README.md
Labels: course_automation, final_submission

#1431 Feedback submission
  contributions/feedback/zidi-yuehao/README.md
  contributions/feedback/zidi-yuehao/devops-feedback.md
Labels: feedback, final_submission

#1440 Feedback Submission PR
  contributions/feedback/cotutiu/README.md
Labels: feedback, final_submission

#1441 Feedback submission: Feedback on "Executable tutorial: How to setup a CI/CD pipeline for a react application"
  contributions/feedback/badal-grunler/README.md
Labels: feedback, final_submission

#1443 Feedback submission: Feedback on "Integrating Code Climate in developers workflow with shell scripts and docker"
  contributions/feedback/atema/README.md
Labels: feedback, final_submission

#1447 Demo: Setting up cypress e2e tests in parallel
  contributions/demo/aronber/README.md
Labels: demo, final_submission

#1448 Submission of Executable tutorial: Travis CI React tests(#966)
  contributions/executable-tutorial/agnesfo-gdba/README.md
  contributions/executable-tutorial/agnesfo-gdba/eastereggs.md
Labels: final_submission, tutorial

#1451 [Submission after feedback] Executable-tutorial: Creat multi Jenkins containers in Linux based on systemd-nspawn
  contributions/executable-tutorial/yuehao/README.md
Labels: final_submission, tutorial

#1454 Submission of Essay: Comparison of Kubernetes and Nomad Orchestration Tools (#1023)
  contributions/essay/lerjevik-nacca/Essay - Word Count OK.pdf
  contributions/essay/lerjevik-nacca/README.md
Labels: essay, final_submission

#1455 [Final submission] Tutorial: Automated monitoring/analytics with ELK Stack
  contributions/executable-tutorial/karrby-kultala/README.md
Labels: final_submission, tutorial

#1456 [Final submission] Executable tutorial: nginx on vagrant box (with provisioning)
  contributions/executable-tutorial/cotutiu-moise/README.md
Labels: final_submission, tutorial

#1464 Presentation submission: Maven and Gradle - The Battle of the Build Tools
  contributions/presentation/week6/majate-axelelm/README.md
Labels: final_submission, presentation

#1452 [Submission] Executable-Tutorial : Monitoring with Prometheus
  contributions/executable-tutorial/renanb/README.md
Labels: final_submission, tutorial

#1406 [Submission] Executable Tutorial: "GitLab CI/CD-server implementation"
  contributions/executable-tutorial/charande-lazarc/README.md
Labels: final_submission, tutorial

#1424 Final Submission - Feedback: Implementing AWS Lambda and invoking it with AWS SES (#1160)
  contributions/feedback/oskstr/README.md
Labels: feedback, final_submission

#1457 Course automation submission: Checking essay requirements
  contributions/course-automation/atema/README.md
Labels: course_automation, essay, final_submission

#1418 Essay Submission(final): A/B testing
  contributions/essay/cpiehl-johennin/AB_Testing_DevOps_Essay.pdf
Labels: essay, final_submission

#1430 Submission of Demo: CI/CD Deployment using GitLab and AWS (#1022)
  contributions/demo/lerjevik-carinawi/README.md
Labels: demo, final_submission

#1429 Submission of Executable tutorial: Secure a Python Flask app using Keycloak running in Docker (#1094)
  contributions/executable-tutorial/lerjevik-wska/README.md
Labels: final_submission, tutorial

#1308 Essay: DevOps in IoT: Solution or challenge for sustainable development?
  contributions/essay/charande-lazarc/DevOpsinIoTSolutionorchallengeforsustainabledevelopment.pdf
Labels: essay

#1331 Feedback for essay "Putting the hours on fun, not manual labor: Incorporating DevOps in the Video Game Industry"(PR #1312)
  contributions/feedback/ntas/README.md
Labels: essay, feedback

#1354 [Submission] Feedback on Essay: "Introduction to Property-Based Testing"
  contributions/feedback/charande/README.md
Labels: essay, feedback, final_submission

#1375 Feedback submission
  contributions/feedback/kallem/README.md
Labels: feedback, final_submission

#1463 Rebased essay PR #1400
  contributions/essay/agnespet/BDD_in_DevOps1.pdf
Labels: essay, final_submission

#1423 [Submission]: Open-Source: Bug fixing for open-source project act
  contributions/open-source/renstr-alekru/README.md
Labels: contribution_to_opensource, final_submission

#1462 [Final submission] Essay (updated according to feedback)(4)
  contributions/essay/isakha-lidfeldt/Low_Code_Ops_And_The_Art_Of_Abstraction5.pdf
  contributions/essay/isakha-lidfeldt/README.md
Labels: essay, feedback, final_submission

#1468 New Feedback Submission (Old #1397)
  contributions/feedback/kalpet/README.md
Labels: feedback, final_submission

#1398 Feedback submission on essay #1084
  contributions/feedback/larasm/README.md
Labels: essay, feedback, final_submission

#1475 Final submission for essay: An exploration of the evolving software architecture
  contributions/essay/kunwu-bouaddi/An exploration of the evolving software architecture.pdf
  contributions/essay/kunwu-bouaddi/README.md
Labels: essay, final_submission

#1427 Course Automation Submission: GitHub action to show what is available for feedback
  contributions/course-automation/bouaddi-kunwu/readme.md
  contributions/course-automation/bouaddi/README.md
Labels: course_automation, feedback, final_submission

#1108 Course Automation submission
  contributions/course-automation/badal-johennin/README.md
Labels: course_automation, final_submission

#1474 [presentation] Submission: CodeQL for automated code analysis
  contributions/presentation/week6/axp-chrigu/CodeQL.pdf
  contributions/presentation/week6/axp-chrigu/README.md
Labels: final_submission, presentation

#1473 final submission of executable tutorial: API testing using RestSharp and Specflow in C# application.( old #1420 )
  contributions/executable-tutorial/mrhasa-gangwal/README.md
Labels: final_submission, tutorial

#1479 Proposal (Demo): Mointor Jenkins using a Prometheus endpoint, Prometheus and Grafana
  contributions/demo/lidfeldt/README.md
Labels: demo, proposal

#1399 Submission: feedback on essay
  contributions/feedback/isacarv-aatif/isacasfeedback.md
Labels: essay, feedback, final_submission

#1132 Course automation submission: 🎥 Improve communication with Discord integration
  contributions/course-automation/annnik/README.md
Labels: course_automation, final_submission

#1335 [Submission] Feedback on essay Feedback Automated tests for infrastructure code #1415
  contributions/feedback/fbjorkma/README.md
Labels: essay, feedback, final_submission

#1361 [Final submission] Essay: Agile Project Management with Jira
  contributions/essay/fbjorkma-adahen/DD2482-Agile_project_management_with_Jira.pdf
  contributions/essay/fbjorkma-adahen/README.md
Labels: essay, final_submission

#1459 [Submission] Feedback for "End-to-End testing: Useful practice or frustrating time sink?"
  contributions/feedback/renanb/README.md
Labels: feedback, final_submission

#1485 Final Demo Submission: CI and CD pipeline using azure DevOps.
  contributions/demo/mrhasa/README.md
Labels: demo, final_submission

#1483 Demo Proposal: Infrastructure as Software with Pulumi
  contributions/demo/isakha/README.md
Labels: demo, proposal

#1484 [Submission] Demo: Automatically publishing tested Node.js packages on npm with Github Actions
  contributions/demo/oscaralm/README.md
Labels: demo, final_submission

#1482 Feedback submission
  contributions/feedback/urama/FeebackSubmission.md
  contributions/feedback/urama/README.md
Labels: feedback, final_submission

#1315 [Course Automation] Final Submission: Generate Summary Readme on Category Folders
  .github/workflows/readme-generation.yml
  contributions/course-automation/felixfon/README.md
Labels: course_automation, final_submission

#1316 Essay Submission : Role of DevOps in minimizing downtime on applications using continuous deployment
  contributions/essay/renanb-yuxinm/Final - Role of DevOps in minimizing downtime on applications using continuous deployment.pdf
  contributions/essay/renanb-yuxinm/README.md
  contributions/essay/renanb-yuxinm/Role of DevOps in minimizing downtime on applications using continuous deployment.pdf
Labels: essay, final_submission

#1332 submission of executable tutorial (after feedback): run TeamCity on Docker
  contributions/executable-tutorial/zidi-sihanc/README.md
Labels: final_submission, tutorial

#1469 Executable tutorial new final submission (Old #1305)
  contributions/executable-tutorial/kalpet/README.md
Labels: final_submission, tutorial

#1489 Course Automation / PDF Essay Checker: Add link to test in README
  contributions/course-automation/atema/README.md
Labels: course_automation

#1498 [Submission] Demo: Chaos testing in a deployed environment
  contributions/demo/nwessman/README.md
Labels: demo, final_submission

#1490 Final Submission - Demo: Merging tool for Salesforce Deployments
  contributions/demo/swill-oskstr/README.md
Labels: demo, final_submission

#1492 Video demo submission
  contributions/demo/mwesslen-larasm-cjgst/README.md
Labels: demo, final_submission

#1493 Video Demo Submission: GitHub Integration with Jenkins
  contributions/demo/yuxinm-urama/Readme.md
Labels: demo, final_submission

#1495 Demo submission: Automated development pipeline for Chrome extensions
  contributions/demo/karrby-kultala/README.md
Labels: demo, final_submission

#1497 Demo Submission: Continuous deployment on Google Play Store
  contributions/demo/vladom-johanmb/README.md
Labels: demo, final_submission

#1499 Submission of demo about Cloudprober
  contributions/demo/atema-siper/README.md
Labels: demo, final_submission

#1500 [Submission] Demo: CI&CD with Kubeflow Pipelines in GCP
  contributions/demo/johhamm-sestak/README.md
Labels: demo, final_submission

#1502 [Submission] Demo: Docker implementation to React native project
  contributions/demo/despinoy-gdba/README.md
Labels: demo, final_submission

#1501 Demo submission: Kubeflow on AWS
  contributions/demo/cpiehl-nacca/README.md
Labels: demo, final_submission

#1148 Course Automation: Check Feedback Requirements (Final Submission) (Updated)
  contributions/course-automation/augustjo-grunler/README.md
Labels: course_automation, feedback, final_submission

#1514 [Submission after feedback] Video Demo: Chaos Testing in a Deployed Environment
  contributions/demo/nwessman/README.md
Labels: demo, final_submission

#1515 [Submission after feedback] CD of Node Express App on Google Cloud with designated release branch using Github actions
  contributions/demo/kalpet-andnil5/README.md
Labels: demo, final_submission

#1516 Demo submission : update link after correction
  contributions/demo/vladom-johanmb/README.md
Labels: demo, final_submission

#1518 [Submission after feedback] Video Demo: Message brokering using RabbitMQ
  contributions/demo/cotutiu-moise/README.md
Labels: demo, final_submission

#1519 Demo-final: Kubeflow Fairing on AWS
  contributions/demo/cpiehl-nacca/README.md
Labels: demo, final_submission

#1521 Final Demo Submission (after feedback): Multi-account CI/CD on AWS for a ToDo app
  contributions/demo/brogard/README.md
Labels: demo, final_submission

#1523 Final demo submission: Setting up Drone CI with Bitbucket
  contributions/demo/sebene-majate/README.md
Labels: demo, final_submission

#1525 Demo Submission After feedback: Automatically generate results in HTML reports with Jenkins
  contributions/demo/sihanc-yuehao/README.md
Labels: demo, final_submission

#1535 [REPEAT] Essay: Cloud & Serverless: Game Changer?
  contributions/essay/taqui/Cloud___Serverless__Game_Changer_.pdf
Labels: essay, repeat
