Repository KTH/devops-course, pull requests merged in 2021-06, with the labels that each got.

#1528 REPEAT: Implement Suggested Feedback and Create Katacoda Version of Tutorial
  contributions/executable-tutorial/axp-fseifert/README.md
Labels: repeat, tutorial

#1529 REPEAT Essay: Putting the hours on fun, not manual labor: Incorporating DevOps in the Video Game Industry
  contributions/essay/gchang-wska/gchang_wska.pdf
Labels: repeat, tutorial

#1532 REPEAT Course automation: Group validity
  contributions/course-automation/kultala-borzi/README.md
Labels: course_automation, repeat

#1533 REPEAT Essay: DevOps Tools in the Workplace A Comparison of Different CI/CD Tools and Cloud Providers
  contributions/essay/aatif-arieltan/atif_arieltan_Comparing_DevOps_Tools_You_Will_Likely_Encounter_in_the_Workplace.pdf
Labels: essay, repeat

#1534 [Course automation: REPEAT]: Verify PR submitted have GitHub ids and KTH ids matching students registered to the course
  contributions/course-automation/kalpet-andnil5/README.md
Labels: course_automation, repeat

#1536 REPEAT Feedback on Essay: A/B testing
  contributions/feedback/hheyman-moise/README.md
Labels: feedback, repeat

#1539 [Repeat] Executable tutorial - Monitoring With Prometheus
  contributions/executable-tutorial/renanb/README.md
Labels: repeat, tutorial

#1540 REPEAT Video demo: Message brokering using RabbitMQ
  contributions/demo/cotutiu-moise/README.md
Labels: demo, repeat

#1542 [Repeat] Essay - How ChatOps can be used in DevOps Pipelines
  contributions/essay/eryman/How_can_ChatOps_improve_DevOps_pipelines_repeat.pdf
Labels: essay, repeat

#1544 [Repeat]Executable tutorial: CI workflow for C++ project using Travis CI and CxxTest for automated building and testing
  contributions/executable-tutorial/kalpet/README.md
Labels: repeat, tutorial

#1545 [REPEAT] Essay: Investigation of Containerization Solutions
  contributions/essay/ericvi-oscaralm/essay.pdf
Labels: essay, repeat

#1546 Repeat: Demo: CI and CD pipeline using Azure DevOps.
  contributions/demo/mrhasa/Demo_AzurePipeline.pdf
  contributions/demo/mrhasa/README.md
Labels: demo, repeat

#1548 Repeat Submission: Executable tutorial: API Testing with RestSharp and SpecFlow in C# Application
  contributions/executable-tutorial/mrhasa-gangwal/README.md
Labels: repeat, tutorial

#1549 REPEAT: Feedback on Essay
  contributions/feedback/kittyt-axelelm/AxelFeedback.md
  contributions/feedback/kittyt-axelelm/README.md
Labels: feedback, repeat

#1550 [Repeat] Essay submission: Agile Project Management with Jira
  contributions/essay/fbjorkma-adahen/DD2482-Agile_project_management_with_Jira.pdf
Labels: essay, repeat

#1553 Final submission (Demo): Mointor Jenkins using a Prometheus endpoint,…
  contributions/demo/lidfeldt/README.md
  contributions/demo/lidfeldt/prometheus.yml
Labels: demo, repeat

#1554 [Repeat] Feedback for #1369: Automated End-to-End testing: Useful practice or frustrating time sink?
  contributions/feedback/renanb/README.md
Labels: feedback, repeat

#1538 [REPEAT] Essay: IoT as the Link Between DevOps and Sustainability
  contributions/essay/charande-lazarc/Repeat_Essay_IoTastheLinkBetweenDevOpsandSustainability.pdf
Labels: essay, repeat

#1556 [Repeat] Essay : Role of DevOps in minimizing downtime on applications using continuous deployment
  contributions/essay/renanb-yuxinm/Final - Role of DevOps in minimizing downtime on applications using continuous deployment.pdf
  contributions/essay/renanb-yuxinm/Repeat_Essay_Role of DevOps in minimizing downtime on application using continuous deployment (1).pdf
  contributions/essay/renanb-yuxinm/Role of DevOps in minimizing downtime on applications using continuous deployment.pdf
Labels: essay, repeat

#1531 REPEAT ESSAY: Can we rely on code coverage to keep the code safe and bug-free?
  contributions/essay/isacarv-anhenri/DevOps_Essay_Revised.pdf
  contributions/essay/isacarv-anhenri/Essay.pdf
Labels: essay, repeat
