Repository KTH/devops-course, pull requests merged in 2022-06, with the labels that each got.

#2045 Revised Essay submission: Containerized vs serverless architecture - When to switch to serverless and when not to
  contributions/essay/ssoderbe/DD2482_Essay_Containerized_vs_Serverless_Architecture.pdf
Labels: essay

#2049 (REVISED) pdf essay: Stuxnet, a Weapon of Cyber Warfare and an Opportunity to Learn About Security in DevOps
  contributions/essay/geomal-kalzi-salunke/REVISED Dev_ops_essay.pdf
Labels: essay, revision

#2054 Final version added figures, added academic references.
  contributions/essay/isacha/CI in the context of business final submission.pdf
  contributions/essay/isacha/CI in the context of business.pdf
  contributions/essay/isacha/README.md
Labels: final_submission, essay
