Repository KTH/devops-course, pull requests merged in 2022-05, with the labels that each got.

#1849 Executable tutorial proposal: Setup and use tools to improve your commit messages
  contributions/executable-tutorial/corgui/README.md
Labels: proposal, tutorial

#1880 Add feedback proposal for tutorial "CI for ML using CML library"
  contributions/feedback/ennio-marcelj/README.md
Labels: proposal, feedback

#1859 Essay proposal: Solo programming vs Pair programming vs Mob programming in DevOps teams
  contributions/essay/gotthard/README.md
Labels: proposal, essay

#1869 Executable tutorial proposal
  contributions/executable-tutorial/persman/README.md
Labels: proposal, tutorial

#1881 Essay proposal: Securing the pipeline - Continuous penetration testing
  contributions/essay/valdimar/README.md
Labels: proposal, essay

#1884 Essay proposal: Containerized vs serverless architecture - When to switch to serverless and when not to
  contributions/essay/ssoderbe/README.md
Labels: proposal, essay

#1871 Assignment Proposal Essay, Blockchain and Infrastructure as code.
  contributions/essay/mateofc-sanherib/README.md
Labels: proposal, essay

#1844 Executable tutorial proposal: Automated email notification for IP change in SSH server
  contributions/executable-tutorial/ennio/README.md
Labels: proposal, tutorial

#1850 Executed tutorial fix
  contributions/executable-tutorial/bgeid-megzari/README.md
  contributions/executable-tutorial/bgeid-megzari/assignment.md
Labels: proposal, essay

#1895 Final Submission of Essay: Evolution of DevOps
  contributions/essay/perarn-tobiasgg/DD2482_Essay_Evolution_of_DevOps.pdf
Labels: final_submission

#1911 Final submission: Essay security threats in serverless
  contributions/essay/danielg8-megzari/security-threats-in-serverless.pdf
Labels: final_submission

#1878 Final submission: Executable tutorial
  contributions/executable-tutorial/ppjha/README.md
Labels: final_submission, tutorial

#1903 Final submission: Week7 Demo
  contributions/demo/week7-dependency-DevSecOps/zehaoj-yilinc/Rultor.pdf
Labels: final_submission, demo

#1879 Final Submission: Executable Tutorial - CI for ML using CML library
  contributions/executable-tutorial/bonato-vishaln/README.md
Labels: final_submission, tutorial

#1897 [Final Submission]: Supply Chain Attacks essay (#1857)
  contributions/essay/jolov-varyd/DD2482_essay.pdf
  contributions/essay/jolov-varyd/README.md
Labels: final_submission, essay

#1909 Essay Final Submission: Securing the pipeline - Continuous penetration testing
  contributions/essay/valdimar/Securing_the_pipeline.pdf
Labels: final_submission

#1882 Feedback Submission (lukel, segatz): Phamelink Executable Tutorial, Secure Server Tutorial
  contributions/feedback/lukel-segatz/Feedback.md
Labels: final_submission, feedback

#1883 Final Submission for Discord/Git Executable Tutorial
  contributions/executable-tutorial/gatien-ddnadjar/README.md
Labels: final_submission, tutorial

#1886 Final Submission Executable Tutorial - Building and Setup of a Slack Bot (myechui)
  contributions/executable-tutorial/myechui/README.md
Labels: final_submission, tutorial

#1888 [executable-tuto] Final submission : docker monitoring with sampler
  contributions/executable-tutorial/porion-paulinev/README.md
Labels: final_submission, tutorial

#1899 Final submission Essay: Containerized vs serverless architecture - When to switch to serverless and when not to
  contributions/essay/ssoderbe/DD2482_Essay_Containerized_vs_Serverless_Architecture.pdf
Labels: final_submission, essay

#1902 Final submission of demo: add repo link
  contributions/demo/week7-dependency-DevSecOps/yenc/README.md
Labels: final_submission, demo

#1905 Executable tutorial submission: Setup and use tools to improve your commit messages
  contributions/executable-tutorial/corgui/README.md
Labels: final_submission, tutorial

#1908 Feedback Proposal: Feedback for essay "Leveraging Kubernetes with Kubeflow to Streamline Machine Learning Processes"
  contributions/feedback/khalidey/README.md
Labels: proposal, feedback

#1914 Essay Feedback Proposal on PR #1859
  contributions/feedback/pdchao-civjan/README.md
Labels: proposal, feedback

#1916 Feedback Proposal : Katacoda Executable Tutorial demonstrating and explaining Fuzzing
  contributions/feedback/srour-faivre/README.md
Labels: proposal, feedback

#1917 Proposal: Feedback on "Blockchain and Infrastructure as code" essay
  contributions/feedback/gacar-leren/README.md
Labels: proposal, feedback

#1896 Final submission for open source contribution: Contributing to DevOps-exercises
  contributions/open-source/auhr-aabdull/README.md
Labels: final_submission, contribution_to_opensource

#1919 Proposal open source - Adding support for conversion to WEBP format to ImgBot
  contributions/open-source/lukasgut-ttle/README.md
Labels: proposal, contribution_to_opensource

#1921 Executable Tutorial proposal - Tutorial for learning the basics of the CUE configuration language
  contributions/executable-tutorial/lukasgut-ttle/README.md
Labels: proposal, tutorial

#1912 Final submission: JFrog Artifactory - A universal binary repository manager
  contributions/presentation/week7-dependency-DevSecOps/bonnici/README.md
Labels: final_submission, presentation

#1759 Executable tutorial proposal: Integrating docker in a Node.js app
  contributions/executable-tutorial/isacha-filbac/README.md
Labels: proposal, tutorial

#1910 Eassy proposal: devops and agile
  contributions/essay/lhagm/README.md
Labels: proposal, essay

#1928 Tutorial Proposal: Usage of Sentry
  contributions/executable-tutorial/zehaoj/README.md
Labels: proposal, tutorial

#1935 Demo proposal: Game Maker chrash resport collection automation
  contributions/demo/week9-other/libl-svanhol/README.md
Labels: proposal, demo

#1941 Demo proposal: Logging & monitoring using ELK stack
  contributions/demo/week9-other/joakiols/README.md
Labels: proposal, demo

#1925 Proposal: Feedback on "Configure a multi-node Consul cluster on Docker containers for service discovery and KV storage"
  contributions/feedback/abyel/README.md
  contributions/feedback/abyel/feedback.md
Labels: feedback

#1923 Feedback Submission: Feedback for essay "Leveraging Kubernetes with Kubeflow to Streamline Machine Learning Processes"
  contributions/feedback/khalidey/README.md
Labels: final_submission, feedback

#1924 Feedback Submission: Katacoda Executable Tutorial demonstrating and explaining Fuzzing
  contributions/feedback/srour-faivre/README.md
Labels: final_submission, feedback

#1926 Feedback task proposal on PR #1870
  contributions/feedback/gatien/README.md
Labels: proposal, feedback

#1927 Feedback Proposal on "Docker containers: from 1979 till today - a comprehensive history" (megzari-myechui)
  contributions/feedback/megzari-myechui/README.md
Labels: proposal, feedback

#1930 Essay Proposal: Troubleshooting evolution from VM to Containers
  contributions/essay/bgeid-ersode/README.md
Labels: proposal, essay

#1934 Feedback
  contributions/feedback/mateofc-sanherib/README.md
Labels: proposal, feedback

#1945 Essay proposal: Exploring Linkerd as a Service Mesh Layer for Observability and Security
  contributions/essay/ayushman/README.md
Labels: proposal, essay

#1942 Assignment Proposal: Feedback for Executable Tutorial
  contributions/feedback/vishaln-bonato/README.md
Labels: proposal, feedback

#1949 Tutorial Proposal: How to use Datadog on Heroku
  contributions/executable-tutorial/salunke-yenc/README.md
Labels: proposal, tutorial

#1950 Proposal: Feedback on Transitioning from DevOps to DevSecOps
  contributions/feedback/jolov-varyd/README.md
Labels: proposal, feedback

#1951 Feedback Proposal - Essay on Configuration Languages
  contributions/feedback/palagi-docl/README.md
Labels: proposal, feedback

#1954 [Essay proposal] Automated Testing in Game Development
  contributions/essay/porion/README.md
Labels: proposal, essay

#1955 Final Submission - Essay - Docker containers: from 1979 till today
  contributions/essay/bonato/Docker containers from 1979 till today.pdf
Labels: final_submission, essay

#1952 Final Submission on "Docker containers: from 1979 till today - a comprehensive history" (megzari-myechui)
  contributions/feedback/megzari-myechui/README.md
Labels: proposal, feedback

#1947 Open Source Contribution Proposal
  contributions/open-source/lukel/README.md
Labels: proposal, contribution_to_opensource

#1936 Essay Proposal: challanges and applications for MLOps
  contributions/essay/libl/README.md
Labels: proposal, essay

#1938 Open Source Contribution Proposal: better-npm-audit
  contributions/open-source/civjan-docl/README.md
Labels: proposal, contribution_to_opensource

#1957 Proposal: Feedback on essay "Feedback on essay "Securing the pipeline - Continuous penetration testing""
  contributions/feedback/bonnici-perarn/README.md
Labels: proposal, feedback

#1946 Tutorial proposal: Parse your logs with log parser
  contributions/executable-tutorial/sandner/README.md
Labels: proposal, tutorial

#1960 Presentation proposal: From metrics to insight: Prometheus monitoring system overview
  contributions/presentation/week9-other/geomal/README.md
Labels: proposal, presentation

#1961 Proposal: IoT fleet management with thigsboard.io
  contributions/essay/segatz/README.md
Labels: proposal, essay

#1987 Demo Submisson: Monitoring a Golang web service using Prometheus, Loki, and Grafana
  contributions/demo/week9-other/gotthard/README.md
Labels: final_submission, demo

#1986 Open-source Proposal: Grafana
  contributions/open-source/cdik/README.md
Labels: proposal, contribution_to_opensource

#1971 Final Submission - Essay: Kubeflow or MLflow - which one to choose?
  contributions/essay/auhr-nsmy/Kubeflow or MLflow - which one to choose?.pdf
Labels: final_submission, essay

#1991 Essay submission: Introduction to Software-bots: Slackbots
  contributions/essay/shotaro/Introduction_to_Software-bots_Slackbots.pdf
Labels: final_submission, essay

#2004 Final Submission: Feedback for "Tutorial: Optimizing your Docker Images" executable tutorial
  contributions/feedback/bgeid/README.md
Labels: final_submission, feedback

#1976 Final Submission Essay: Agile and Devops
  contributions/essay/lhagm/Using_Agile_and_DevOps_Together_AFTER_FEEDBACK.pdf
Labels: final_submission, essay

#1977 Final Submission Essay: Ethics of Canary Testing: Users as Guinea pigs
  contributions/essay/svanhol/Ethics_of_Canary_Testing.pdf
Labels: final_submission, essay

#1975 Final Submission: Executable Tutorial
  contributions/executable-tutorial/zehaoj/README.md
Labels: final_submission, tutorial

#1994 Final Submission: Executable Tutorial
  contributions/executable-tutorial/persman/README.md
Labels: final_submission, tutorial

#2007 Feedback on Essay: Introduction to Software-bots: Slackbots
  contributions/feedback/yenc-zehaoj/README.md
Labels: final_submission, feedback

#1967 Final Submission Feedback: "Ethics of Canary Testing: Users as Guinea pigs"
  contributions/feedback/gatien/Canary_Ethics.pdf
  contributions/feedback/gatien/feedback.md
Labels: final_submission, feedback

#1999 Final Submission: Feedback for "Solo programming vs Pair programming vs Mob programming in DevOps teams" essay
  contributions/feedback/pdchao-civjan/README.md
Labels: final_submission, feedback

#1966 [Final submission]: Feedback on essay "Transitioning from DevOps to DevSecOps"
  contributions/feedback/jolov-varyd/README.md
Labels: final_submission, feedback

#1940 Final Submission: Essay - Transitioning from DevOps to DevSecOps
  contributions/essay/sjovald-vilmaj/Transitioning_from_DevOps_to_DevSecOps.pdf
Labels: final_submission, essay

#1962 Executable tutorial proposal UPDATE - Changing Task deadline
  contributions/executable-tutorial/lukasgut-ttle/README.md
Labels: proposal, tutorial

#1963 Submission: Feedback on Essay [#1688]
  contributions/feedback/tobiasgg/README.md
Labels: final_submission, feedback

#1968 Feedback proposal and submission: Future of DevOps
  contributions/feedback/sandner/README.md
Labels: proposal, feedback

#1970 Executable tutorial submission - Learning the basics of CUE
  contributions/executable-tutorial/lukasgut-ttle/README.md
Labels: final_submission, tutorial

#1974 Open Source proposal - issue resolution in Gosec
  contributions/open-source/perarn/README.md
Labels: proposal, contribution_to_opensource

#1993 Feedback Submission: Usage of Sentry
  contributions/feedback/corgui/README.md
Labels: final_submission, feedback

#2000 Executable tutorial proposal - software bots to generate github reports
  contributions/executable-tutorial/perarn-maxper/README.md
Labels: proposal, tutorial

#2002 Final submission: Executable tutorial. Automated email notification for IP change in SSH server.
  contributions/executable-tutorial/ennio/README.md
Labels: final_submission, tutorial

#2010 Final submission: Feedback on "Devops in finance"
  contributions/feedback/mateofc-sanherib/README.md
Labels: final_submission, feedback

#2011 Final submission, feedback on "Blockchain and Infrastructure as code" essay
  contributions/feedback/gacar-leren/README.md
Labels: final_submission, feedback

#2013 Final submission for Open Source - contributing to Gosec
  contributions/open-source/perarn/README.md
Labels: final_submission, contribution_to_opensource

#2001 Final submission: Dockerizing Node.js application [Executable tutorial]
  contributions/executable-tutorial/isacha-filbac/README.md
Labels: final_submission, tutorial

#2012 [Revised | Final submission] course-automation submission
  contributions/course-automation/johnlan/README.md
Labels: course_automation, revision

#1973 Essay Submission: Testing Micro Services: Challenges, Types and NodeJS Solutions
  contributions/essay/cdik-aabdull/Essay_Microservices_Testing.pdf
  contributions/essay/cdik-aabdull/README.md
Labels: final_submission, essay

#1996 Final submission: Essay, DevOps in Finance
  contributions/essay/gacar-leren/DevOps_in_Finance.pdf
Labels: final_submission, feedback

#2017 Final Submission: Open Source Contribution Submission to DevOps Exercises repo
  contributions/open-source/lukel/README.md
Labels: final_submission, contribution_to_opensource

#2024 Essay Proposal: The impact of DevOps on cloud platforms
  contributions/essay/filbac/README.md
Labels: proposal, essay

#2018 Final Submission: Grafana Open-Source Contribution
  contributions/open-source/cdik/README.md
Labels: final_submission, contribution_to_opensource

#2026 [Submission] Essay: IoT fleet management with thigsboard.io
  contributions/essay/segatz/DD2482_essay.pdf
Labels: final_submission, essay

#2028 Final submission: Feedback on Essay Submission: Testing Micro Services: Challenges, Types and NodeJS Solutions
  contributions/feedback/auhr-ayushman/README.md
Labels: final_submission, feedback

#2023 Repeat Essay submission: How Software bots can interact with DevOps
  contributions/essay/shotaro/README.md
  contributions/essay/shotaro/Repeat_How_Software_bots_can_interact_with_DevOps.pdf
Labels: essay, revision

#2031 Final Submission: Open source contribution to better-npm-audit
  contributions/open-source/civjan-docl/README.md
Labels: final_submission, contribution_to_opensource

#2032 Final submission: Essay
  contributions/essay/filbac/TheImpactOfDevOpsOnCloudDevelopment.pdf
Labels: final_submission, essay

#2034 Final Submission: Executable Tutorial
  contributions/executable-tutorial/perarn-maxper/README.md
Labels: final_submission, tutorial

#2040 Essay Revision Submission for The Cold Start Problem: How container lifecycle influences serverless functions
  contributions/essay/civjan-docl/DevOps_Cold_Start_Essay.pdf
  contributions/essay/civjan-docl/README.md
Labels: essay

#2035 Feedback
  contributions/feedback/vishaln-bonato/feedback.md
Labels: final_submission, feedback

#2044 Final Submission: Exec Tutorial
  contributions/executable-tutorial/bgeid-megzari/README.md
Labels: final_submission, tutorial
