Repository KTH/devops-course, pull requests merged in 2022-03, with the labels that each got.

#1589 Executable tutorial: How to automate E2E-testing in React & Jest, using Github actions.
  contributions/executable-tutorial/sjovald-zapata/README.md
Labels: proposal, tutorial

#1575 Executable Tutotial: Adding bugs to code to evaluate tests Using Stryker Mutator in JS
  contributions/executable-tutorial/pdchao-docl/README.md
Labels: proposal, tutorial

#1587 Open source proposal: enhancement of embedded Rust libraries (testing)
  contributions/open-source/maiga-jolov/README.md
Labels: contribution_to_opensource

#1581 Demo proposal - Real-Time testing of a video game
  contributions/demo/week2-testing-and-CI/rahimz-sandner/README.md
Labels: proposal, tutorial

#1594 Demo: Testing frameworks for JavaScript in frontend and backend
  contributions/demo/week2-testing-and-CI/bonnici-nalenz/README.md
Labels: proposal, demo

#1579 Proposal for course automation: check valid links to slides for presentations
  contributions/course-automation/ppjha-srour/README.md
Labels: proposal, course_automation

#1586 Add proposal for course automation task
  contributions/course-automation/segatz-marcelj/README.md
Labels: proposal, course_automation

#1603 executable-tutorial: Setting up, scaling and removing a docker cluster using docker swarm mode
  contributions/executable-tutorial/joakiols-mjafari/README.md
Labels: proposal, tutorial

#1572 executable-tutorial: proposal GH Action optimization
  contributions/executable-tutorial/gotthard-faivre/README.md
Labels: proposal, tutorial

#1592 Presentation proposal - Facebook blackout
  contributions/presentation/README.md
  contributions/presentation/week2-testing-and-CI/svanhol-libl/README.md
Labels: presentation

#1614 DEMO Proposal: Make a continous deployment pipeline to pip package installer (Fixed rebase PR#1600)
  contributions/demo/week3-CD-and-feature-flag/pdchao-docl/README.md
Labels: proposal, demo

#1604 Create Proposal for presentation: deployment of code with Buddy
  contributions/presentation/week3-CD-and-feature-flag/lhagm-shotaro: README.md
Labels: presentation

#1610 DEMO Proposal: Eiffel Protocol demonstration of usage
  contributions/demo/week3-CD-and-feature-flag/lukasgut-olofgr/README.md
Labels: demo

#1628 Demo proposal : Continuous Delivery of a Tauri app
  contributions/course-automation/corgui/README.md
  contributions/demo/week3-CD-and-feature-flag/corgui/README.md
Labels: demo

#1606 Course automation proposal: Automatic schedule import to GitHub
  contributions/course-automation/jedma/README.md
Labels: proposal, course_automation

#1640 Add slides week 1 presentation slides
  contributions/presentation/week2-testing-and-CI/paulinev/robotframework_slide.pdf
Labels: presentation
