Repository KTH/devops-course, pull requests merged in 2022-04, with the labels that each got.

#1616 executed tutorial: Github Action CI pipeline using CodeQL for static code scanning (DevSecOps Application)
  contributions/executable-tutorial/bgeid-megzari/README.md
Labels: proposal, tutorial

#1625 Add repository links of "Testing frameworks for JavaScript in frontend and backend" demo to respective readme
  contributions/demo/week2-testing-and-CI/bonnici-nalenz/README.md
Labels: final_submission, demo

#1648 Tutorial propsal
  contributions/executable-tutorial/mustali-rafiy/README.md
Labels: proposal, tutorial

#1637 Presentation proposal: DevOPs CD pipeline for healthcare technology
  contributions/presentation/week3-CD-and-feature-flag/leren-sanherib/README.md
Labels: proposal, presentation

#1615 presentation: Serverless in a hybrid architecture
  contributions/presentation/week4-containers-and-serverless/bgeid-megzari/README.md
Labels: presentation

#1627 executable-tutorial proposal: installing and setting up SaltStack
  contributions/executable-tutorial/leren-sanherib/README.md
Labels: proposal, tutorial

#1643 Executable Tutorial Proposal: Continous testing and integration using Gradle and github actions
  contributions/executable-tutorial/README.md
Labels: tutorial

#1649 Demo declarative continuous deployment on K8s using ArgoCD
  contributions/demo/week3-CD-and-feature-flag/ayushman/README.md
Labels: proposal, demo

#1650 Course Automation: Enforcing course submission rules
  contributions/course-automation/civjan-palagi/README.md
Labels: proposal, course_automation

#1635 demo proposal: CI/CD implementation using React Native and Google Cloud
  contributions/demo/week3-CD-and-feature-flag/isacha-filbac/README.md
Labels: proposal, demo

#1645 Course Automation Proposal: Make Pull Request shell script
  contributions/course-automation/lukel/README.md
Labels: proposal, course_automation

#1636 Demo proposal: CD of a Node.js web service on Heroku with a Github Actions pipeline
  contributions/demo/week3-CD-and-feature-flag/nsmy-cdik/README.md
Labels: proposal, demo

#1653 Demo proposal: Demonstration of the open-source feature flagging platform Unleash
  contributions/demo/week3-CD-and-feature-flag/geomal-kalzi/README.md
Labels: proposal, demo

#1658 Proposal Executable Tutorial: Test automation using Cucumber with Gradle
  contributions/executable-tutorial/lhagm-shotaro/README.md
Labels: proposal, tutorial

#1651 Course automation proposal : Automatic mail of confirmation for PR merge success
  contributions/course-automation/bonato-khalidey/README.md
Labels: proposal, course_automation

#1677 Presentation Proposal: Handling multiple services in a monorepo using Docker
  contributions/presentation/week4-containers-and-serverless/sjovald-zapata/README.md
Labels: proposal, presentation

#1654 Course Automation: Implementation of MPR shell script
  contributions/course-automation/lukel/README.md
Labels: final_submission, course_automation

#1721 Proposal: Contribution to open-source
  contributions/open-source/ppjha-faivre/README.md
Labels: proposal, contribution_to_opensource

#1719 Add completed demo branch
  contributions/demo/week3-CD-and-feature-flag/nsmy-cdik/README.md
Labels: demo

#1718 Tutorial proposal: Massively cutting server costs for model training with spot instances on Azure
  contributions/executable-tutorial/marcelj/README.md
Labels: proposal, tutorial

#1717 Submission : Demonstration of Continuous Deployment of a Tauri app
  contributions/demo/week3-CD-and-feature-flag/corgui/README.md
Labels: demo

#1715 Final Submission for Task 1
  contributions/demo/week3-CD-and-feature-flag/ayushman/README.md
Labels: demo

#1714 Final submission - Github Action CI pipeline using CodeQL for static code scanning (DevSecOps Application)
  contributions/executable-tutorial/bgeid-megzari/assignment.md
Labels: final_submission, tutorial

#1709 Final Submission: Docker swarm executable tutorial
  contributions/executable-tutorial/joakiols-mjafari/README.md
Labels: final_submission, tutorial

#1701 Final Submission for Task 1 - CI/CD pipeline for K8s Cluster in Digital Ocean for Microservices application.
  contributions/demo/week3-CD-and-feature-flag/aabdull-valdimar/README.md
Labels: final_submission, demo

#1705 Final Submission: Fuzzing Executable Tutorial
  contributions/executable-tutorial/palagi-civjan/FuzzFlowchartV1.jpg
  contributions/executable-tutorial/palagi-civjan/README.md
Labels: final_submission, tutorial

#1699 Final submission - How to automate E2E-testing in React & Jest, using Github actions.
  contributions/executable-tutorial/sjovald-zapata/assignment.md
Labels: final_submission, tutorial

#1697 Final Submission: Deployment of Code Using Buddy
  contributions/presentation/week3-CD-and-feature-flag/lhagm-shotaro/Deployment_of_Code_Using_Buddy.pdf
Labels: final_submission, presentation

#1689 Essay proposal: Exploring SOA dependency testing in DevSecOps
  contributions/essay/pontuscm-maiga/README.md
Labels: proposal, essay

#1702 Added demo repo & key takeaway
  contributions/demo/week3-CD-and-feature-flag/abyel-auhr/README.md
Labels: demo, proposal_update

#1706 Submission: Essay: DevOps and Security - How to fit them together?
  contributions/essay/yilinc-zehaoj/DevOps_and_Security - How_to_fit_them_together.pdf
Labels: final_submission, essay

#1704 Final Submission: Course Automation Enforcing Course Submission Rules
  contributions/course-automation/civjan-palagi/README.md
Labels: final_submission, course_automation

#1662 Final submission: Course automation
  contributions/course-automation/segatz-marcelj/README.md
Labels: final_submission, course_automation

#1720 Tutorial: Katacoda about Femto-containers on microcontrollers
  contributions/executable-tutorial/jedma-segatz/README.md
Labels: proposal, tutorial

#1712 Solution to Randoop-tutorial
  contributions/executable-tutorial/mustali-rafiy/README.md
Labels: final_submission, tutorial

#1671 Essay proposal
  contributions/essay/marcelj/README.md
Labels: proposal, essay

#1740 Create README.md
  contributions/executable-tutorial/cdik-abyel/README.md
Labels: proposal, tutorial

#1698 Demo Proposal: Demonstration of Deploying Multiple API Servers with Docker and AWS Lambda
  contributions/demo/week4-containers-and-serverless/myechui/README.md
Labels: proposal, demo

#1665 Course automation submission
  contributions/course-automation/ppjha-srour/README.md
Labels: final_submission, course_automation

#1605 Course automation proposal : Automatic deletion of teammate request
  contributions/course-automation/corgui/README.md
Labels: proposal, course_automation

#1687 Executable Tutorial Proposal: Automizing deploy by connecting github to heroku.
  contributions/executable-tutorial/gacar-mateofc/README.md
Labels: proposal, tutorial

#1691 [Submission: Executable Tutorial] StrykerJS Mutation Testing Tutorial on Katacoda
  contributions/executable-tutorial/pdchao-docl/README.md
Labels: final_submission, tutorial

#1696 Demo proposal Week 5: How to set up a Docker image, container, and docker service using Terraform as a Docker Provider
  contributions/demo/week5-Infrastructure-as-Code/iredtzer-vilmaj/README.md
Labels: proposal, demo

#1708 Final submission: Course automation - Automatic mail of confirmation for PR merge success
  contributions/course-automation/bonato-khalidey/README.md
Labels: final_submission, proposal

#1724 added links to git and pps
  contributions/demo/week3-CD-and-feature-flag/isacha-filbac/README.md
Labels: final_submission, demo

#1736 Presentation proposal: Integration Testing with Testcontainer
  contributions/presentation/week4-containers-and-serverless/salunke-yenc/README.md
Labels: proposal, presentation

#1733 Presentation proposal: The role of containers in the development and deployment of ML models.
  contributions/presentation/week4-containers-and-serverless/bonato-khalidey/README.md
Labels: proposal, presentation

#1743 Presentation proposal: server vs serverless
  contributions/presentation/week4-containers-and-serverless/mustali-rafiy/README.md
Labels: proposal, presentation

#1680 Presentation proposal: Open source culture and conventions
  contributions/presentation/week8-culture-and-legal/nalenz/README.md
Labels: collaboration_wanted, proposal, presentation

#1722 Proposal: Executable tutorial, discord bot
  contributions/executable-tutorial/gatien-ddnadjar/README.md
Labels: proposal, tutorial

#1755 [REFORK: #1675] Essay proposal
  contributions/essay/johnlan/README.md
Labels: final_submission, essay

#1753 Essay proposal: How container lifecycle influences serverless functions
  contributions/essay/civjan-docl/README.md
Labels: proposal, essay

#1757 Executable Tutorial: Configure a multi-node Consul cluster on Docker containers
  contributions/executable-tutorial/ayushman-valdimar/README.md
Labels: proposal, tutorial

#1747 First Proposal : tutorial for optimizing docker images
  contributions/executable-tutorial/srour/README.md
Labels: proposal, tutorial

#1749 Proposal: Contribution to open-source
  contributions/demo/week2-testing-and-CI/rahimz-sandner/README.md
  contributions/open-source/sandner/README.md
Labels: proposal, contribution_to_opensource

#1751 Demo proposal: Custom Slack Bot to interact with Github Actions
  contributions/demo/week6-software-bots/persman-ntli/README.md
Labels: proposal, demo

#1711 Submission: Introduction to Feature toggles - How are they used. Essay
  contributions/essay/persman/Introduction to Feature toggles - How are they used.pdf
Labels: final_submission, proposal

#1700 Final submission: Course automation automatic labelling of PRs
  contributions/course-automation/danielg8/README.md
Labels: final_submission, proposal

#1766 Executable Tutorial Proposal: Automizing deploy by connecting github to heroku
  contributions/executable-tutorial/gacar-mateofc/README.md
Labels: proposal, tutorial

#1742 Executable Tutorial: KataCoda about ServerLess NodeJS application and ServerLess Framework
  contributions/executable-tutorial/aabdull-auhr/README.md
Labels: proposal, tutorial

#1758 Assignment proposal: Executable tutorial for setting up Firecracker
  contributions/executable-tutorial/pontuscm-varyd/README.md
Labels: proposal, tutorial

#1776 Essay proposal: Evolution of DevOps
  contributions/essay/perarn-tobiasgg/README.md
Labels: proposal, essay

#1763 Essay Proposal: A comparison of the configuration languages CUE and Dhall
  contributions/essay/lukasgut-olofgr/README.md
Labels: proposal, essay

#1750 Final Presentation Submission: The role of containers in the development and deployment of ML models.
  contributions/presentation/week4-containers-and-serverless/bonato-khalidey/Containers.pdf
Labels: final_submission, presentation

#1777 Essay final submission "5G deployment on cloud"
  contributions/essay/asim/DevOps_Essay_Asim_v3.pdf
  contributions/essay/asim/README.md
Labels: final_submission, essay

#1760 Final submission: GitHub link to demo (myechui)
  contributions/demo/week4-containers-and-serverless/myechui/README.md
Labels: final_submission, demo

#1725 Course automation proposal : Automatic weekly recap mail
  contributions/course-automation/paulinev/README.md
Labels: proposal, course_automation

#1767 Final Submission: Devops in healthcare presentation
  contributions/presentation/week3-CD-and-feature-flag/leren-sanherib/README.md
Labels: final_submission, presentation

#1761 Proposal: Executable tutorial on how to create a GitHub Action
  contributions/executable-tutorial/danielg8/README.md
Labels: proposal, tutorial

#1775 [Presentation][W5] Best practices for securing IaC
  contributions/presentation/week5-Infrastructure-as-Code/benron-porion/README.md
Labels: proposal, presentation

#1783 Executable tutorial proposal: Cron jobs
  contributions/executable-tutorial/ersode/README.md
Labels: proposal, tutorial

#1785 Demo proposal: Sending Microsoft Azure security advisories to Slack
  contributions/demo/week7-dependency-DevSecOps/ersode/README.md
Labels: proposal, demo

#1779 Executable tutorial proposal: Integration testing in Python using the testcontainers package
  contributions/executable-tutorial/tobiasgg-ssoderbe/README.md
Labels: proposal, tutorial

#1774 Assignment proposal: Executable tutorial - CI for ML using CML library
  contributions/executable-tutorial/bonato-vishaln/README.md
Labels: proposal, tutorial

#1764 added link to repo used for the demo
  contributions/demo/week4-containers-and-serverless/johnlan-perarn/README.md
Labels: final_submission, demo

#1723 Proposal: Demo Terraform with Jetbrains' IDE
  contributions/demo/week5-Infrastructure-as-Code/gatien-ddnadjar/README.md
Labels: proposal, demo

#1762 Final submission: Handling multiple services in a monorepo using Docker
  contributions/presentation/week4-containers-and-serverless/sjovald-zapata/README.md
Labels: final_submission, presentation

#1773 Demo Proposal: Remote Monitoring and controlling of Machine Learning Models with Telegram Bot
  contributions/demo/week6-software-bots/khalidey-vishaln/README.md
Labels: proposal, demo

#1784 Final Submission: Serverless in a hybrid architecture
  contributions/presentation/week4-containers-and-serverless/bgeid-megzari/Serverless_in_a_hybrid_architecture.pdf
Labels: final_submission, presentation

#1789 Course automation submission: Automatic edit of teammate search requests
  contributions/course-automation/corgui/README.md
Labels: final_submission, course_automation

#1790 [Final submission | REFORK: #1716]: Essay
  contributions/essay/johnlan/DD2482_essay.pdf
Labels: final_submission, essay

#1791 Proposal: Feedback on essay "The blasphemy of YAML and other configuration "languages"
  contributions/feedback/yilinc-ntli/README.md
Labels: proposal, feedback

#1792 Proposal: Feedback on essay "5G technology: An investigation in cloud architecture and "Blue/Green" strategy for software upgrades"
  contributions/feedback/johnlan/README.md
  contributions/feedback/johnlan/feedback.md
Labels: proposal, feedback

#1788 Final essay submission
  contributions/essay/marcelj/Leveraging Kubernetes for Machine Learning with Kubeflow.pdf
Labels: final_submission, essay

#1796 Submission: Kataconda Ansible Playbook to automate the MERN stack setup
  contributions/executable-tutorial/yilinc-ntli/assignment.md
Labels: final_submission, tutorial

#1797 Essay proposal: How DevOps and GitOps differ and how they overlap
  contributions/essay/ttle/README.md
Labels: proposal, essay

#1798 Open source Submission
  contributions/open-source/ppjha-faivre/README.md
Labels: final_submission, contribution_to_opensource

#1799 Final submission: Running rust server in Docker container (original PR: #1590)
  contributions/executable-tutorial/maiga-jolov/README.md
Labels: final_submission, tutorial

#1800 Final Submission - Tutorial: Optimizing your Docker Images
  contributions/executable-tutorial/srour/README.md
Labels: final_submission, tutorial

#1806 Automatic weekly recap mail : final submission
  contributions/course-automation/paulinev/README.md
Labels: final_submission, course_automation

#1805 Presentation Proposal: Automated Application Security Testing
  contributions/presentation/week7-dependency-DevSecOps/ntli/README.md
Labels: proposal, presentation

#1804 Final submission: executable-tutorial SaltStack
  contributions/executable-tutorial/leren-sanherib/README.md
Labels: final_submission, tutorial

#1802 Final Submission: Executable tutorial
  contributions/executable-tutorial/gacar-mateofc/README.md
Labels: final_submission, tutorial

#1807 Final submission: Executable tutorial "Installing GitLab in your own infrastructure"
  contributions/executable-tutorial/nalenz-bonnici/README.md
Labels: final_submission, tutorial

#1808 Submission of Executable Tutorial
  contributions/executable-tutorial/tobiasgg-ssoderbe/README.md
Labels: final_submission, tutorial

#1809 [Slides] Add slides of the presentation
  contributions/presentation/week5-Infrastructure-as-Code/benron-porion/Security practices in Infrastructure as Code.pdf
Labels: final_submission, presentation

#1821 Demo Terraform with Jetbrains' IDE - Content
  contributions/demo/week5-Infrastructure-as-Code/gatien-ddnadjar/README.md
Labels: final_submission, demo

#1812 Final Submission Executable Tutorial: Cucumber
  contributions/executable-tutorial/lhagm-shotaro/README.md
Labels: final_submission, tutorial

#1820 Final submission: Executable tutorial GitHub Action
  contributions/executable-tutorial/danielg8/README.md
Labels: final_submission, tutorial

#1818 Final submission executable tutorial: Firecracker microVM
  contributions/executable-tutorial/pontuscm-varyd/README.md
Labels: final_submission, tutorial

#1816 Final Submission for Task 2 Executable Tutorial.
  contributions/executable-tutorial/aabdull-auhr/README.md
Labels: final_submission, tutorial

#1814 Final submission executable tutorial: Cron jobs
  contributions/executable-tutorial/ersode/README.md
Labels: final_submission, tutorial

#1813 Essay submission: Configuration languages - A comparison of Dhall and CUE
  contributions/essay/lukasgut-olofgr/Configuration_languages-A_comparison_of_Dhall_and_CUE.pdf
Labels: final_submission, essay

#1795 Added Final Essay submission: (Task 2), MLOps: The past, the present, the future
  contributions/essay/ennio-vishaln/devops-essay-MLOps-past-present-future.pdf
Labels: final_submission, essay

#1815 Task 2 final submission for executable tutorial
  contributions/executable-tutorial/ayushman-valdimar/README.md
Labels: final_submission, tutorial

#1817 Essay submission: Comparison Study Between Popular Infrastructure as Code Tools
  contributions/essay/joakiols-mjafari/ComparisonStudyBetweenIaCTools.pdf
  contributions/essay/joakiols-mjafari/README.md
Labels: final_submission, essay

#1801 Executable tutorial proposal
  contributions/executable-tutorial/ppjha/README.md
Labels: proposal, tutorial

#1823 [Proposal] Feedback on tutorial
  contributions/feedback/lukel-segatz/README.md
Labels: proposal, feedback

#1824 Presentation proposal: RPA and their usefulness in today's industry
  contributions/presentation/week6-software-bots/srour-faivre/README.md
Labels: proposal, presentation

#1811 Feedback: Tutorial for optimizing docker images.
  contributions/feedback/bgeid/README.md
Labels: proposal, feedback

#1830 Feedback Submission: feedback on "Massively cutting server costs for model training with spot instances on Azure"
  contributions/feedback/nsmy/README.md
Labels: final_submission, feedback

#1828 Demo: How to use Rultor to automate merging and deployment
  contributions/demo/week7-dependency-DevSecOps/zehaoj-yilinc/README.md
Labels: proposal, demo

#1833 Submission: Katacoda about Femto-containers on microcontrollers
  contributions/executable-tutorial/jedma-segatz/README.md
Labels: final_submission, tutorial

#1770 Open Source feature: Specifying Hyperparameter Ranges for AutoKeras Block "ImageAugmentation"
  contributions/open-source/nsmy-marcelj/README.md
Labels: proposal, contribution_to_opensource

#1737 Added the Github link as per request from the teacher
  contributions/demo/week3-CD-and-feature-flag/geomal-kalzi/README.md
Labels: final_submission, demo

#1780 Final Submission - Gradle and Github actions Executable Tutorial (Original PR: #1693)
  contributions/executable-tutorial/README.md
  contributions/executable-tutorial/sannerv-kunalb/README.md
Labels: final_submission, tutorial

#1839 Final submission - tutorial on cutting server costs for model training
  contributions/executable-tutorial/marcelj-khalidey/README.md
Labels: final_submission, tutorial

#1842 Final submission of demo: Slack-Github-Bot
  contributions/demo/week6-software-bots/persman-ntli/README.md
Labels: final_submission, demo

#1858 Demo Proposal: Monitoring a Golang web service using Promethues, Loki…
  contributions/demo/week9-other/gotthard/README.md
Labels: proposal, demo

#1860 Essay proposal: Devops in finance
  contributions/essay/gacar-leren/README.md
Labels: proposal, essay

#1832 Feedback on Femto containers for microcontrollers PR #1720
  contributions/feedback/maiga/README.md
Labels: proposal, feedback

#1862 Final submission: Femto containers feedback
  contributions/feedback/maiga/README.md
Labels: final_submission, feedback

#1857 Assignment Proposal: Essay on Supply Chain Security
  contributions/essay/jolov-varyd/README.md
Labels: proposal, essay

#1847 Tutorial Proposal - Building and Setup of a Slack Bot
  contributions/executable-tutorial/myechui/README.md
Labels: proposal, tutorial

#1854 Demo: How to integrate OWASP ZAP into Jenkins
  contributions/demo/week7-dependency-DevSecOps/yenc/README.md
Labels: proposal, demo

#1856 Tuto proposal : monotring docker container with sampler
  contributions/executable-tutorial/porion-paulinev/README.md
Labels: proposal, tutorial

#1864 Presentation Proposal: Supply Chain attacks and DevSecOps
  contributions/presentation/week7-dependency-DevSecOps/sannerv-mjafari/README.md
Labels: proposal, presentation

#1865 Final submission essay: Exploring SOA dependency testing in DevSecOps
  contributions/essay/pontuscm-maiga/README.md
  contributions/essay/pontuscm-maiga/pontuscm_maiga_dependency_testing.pdf
Labels: final_submission, essay

#1851 Open source proposal: Contributing to DevOps-exercises
  contributions/open-source/auhr-aabdull/README.md
Labels: proposal, contribution_to_opensource
