Repository KTH/devops-course, pull requests merged in 2023-04, with the labels that each got.

#2105 viktorme-dljungg: essay, april 10
  contributions/essay/viktorme-dljungg/README.md
Labels: proposal, essay

#2122 jwliu-jaldu: presentation proposal, week 4
  contributions/presentation/week4/jwliu-jaldu/README.md
Labels: proposal, presentation

#2126 loar2-amolt Week 4 Demo proposal
  contributions/demo/week4/loar2-amolt/README.md
Labels: proposal, demo

#2134 aramia-erikwac Week 4 Presentation proposal
  contributions/presentation/week4/aramia-erikwac/README.md
Labels: proposal, presentation

#2135 ikhudur-davidced presentation week 4
  contributions/presentation/week4/ikhudur-davidced/README.md
Labels: proposal, presentation

#2137 felixq: Essay Proposal April 24
  contributions/essay/felixq/README.md
Labels: proposal, essay

#2129 nareaho-hastimz: Presentation proposal
  contributions/presentation/week8/nareaho-hastimz/README.md
Labels: proposal, presentation

#2121 afruz-beatajoh: Demo proposal, week 5
  contributions/demo/week5/afruz-beatajoh/README.md
Labels: proposal, demo

#2136 dljungg-taox: Demo proposal, week 5
  contributions/demo/week5/dljungg-taox/README.md
Labels: proposal, demo

#2139 beatajoh-loar2: Executable-tutorial proposal - Task 1
  contributions/executable-tutorial/loar2-beatajoh/README.md
Labels: proposal, tutorial

#2140 loar2-amolt: Essay proposal
  contributions/essay/loar2-amolt/README.md
Labels: proposal, essay

#2141 jarns-zeiher: Opensource contribution to the Robot Framework
  contributions/opensource/jarns-zeiher/README.md
Labels: proposal, contribution_to_opensource

#2143 micask-jakobew: Demo proposal, week 4
  contributions/demo/week4/micask-jakobew/README.md
Labels: proposal, demo

#2144 jarns: Demo proposal week 6
  contributions/demo/week6/jarns/README.md
Labels: proposal, demo

#2146 hhob-lcjira: Demo proposal week 7
  contributions/demo/week7/hhob-lcjira/README.md
Labels: proposal, demo

#2138 linusost-praneetk: Demo Proposal, Week 4
  contributions/demo/week4/linusost-praneetk/README.md
Labels: proposal, demo

#2147 jennilar: Essay submission task 1
  contributions/essay/jennilar/From_Chaos_Monkey_to_Controlled_Chaos-The_History_Of_Chaos_Engineering.pdf
  contributions/essay/jennilar/README.md
Labels: final_submission, essay

#2148 hhob: Presentation proposal week 6
  contributions/presentation/week6/hhob/README.md
Labels: proposal, presentation

#2150 emihar-mircoram presentation proposal week 4
  contributions/presentation/week4/emihar-mircoram/README.md
Labels: proposal, presentation

#2151 llucfm-paufm: Demo proposal week 5
  contributions/demo/week5/llucfm-paufm/README.md
Labels: proposal, demo

#2152 sscolari: Essay proposal, Task 1 (11 April, 17:00)
  contributions/essay/sscolari/README.md
Labels: proposal, essay

#2153 Essay Proposal: opers - Task 2 deadline (April 24, 17h)
  contributions/essay/opers/README.md
Labels: proposal, essay

#2156 sscolari: Essay submission task 1
  contributions/essay/sscolari/Cloud_Gaming_and_Containers_A_comparison_and evaluation_of_performance_between_Containers_and_Virtual Machines.pdf
  contributions/essay/sscolari/README.md
Labels: final_submission, essay

#2158 opers-jarns: Feedback proposal for essay "Cloud Gaming and Containers"
  contributions/feedback/opers-jarns/README.md
Labels: proposal, feedback

#2159 Hastimz-Hazara: Essay Submission Task 1
  contributions/essay/hastimz-hazara/Devops.pdf
  contributions/essay/hastimz-hazara/README.md
Labels: final_submission, essay

#2161 mgku: Feedback Proposal
  contributions/feedback/mgku/README.md
Labels: proposal, feedback

#2165 afruz-lcjira: essay submission
  contributions/essay/afruz-lcjira/README.md
  contributions/essay/afruz-lcjira/afruz_lcjira_essay.pdf
Labels: final_submission, essay

#2155 Essay Submission: viktorme-dljungg
  contributions/essay/viktorme-dljungg/README.md
  contributions/essay/viktorme-dljungg/Software_and_Cloud_Technology_Transforming_a_Monolithic_Application_into_Microservices.pdf
Labels: final_submission, essay

#2115 nareaho-hastimz (demo proposal)
  contributions/demo/week9/nareaho-hastimz/README.md
Labels: proposal, demo

#2169 added final submission
  contributions/feedback/mgku/README.md
Labels: proposal, feedback

#2171 Final submission for Feedback on essay Cloud Gaming and Containers
  contributions/feedback/opers-jarns/DD2482 - Feedback_ Cloud Gaming and Containers (opers, jarns).pdf
  contributions/feedback/opers-jarns/README.md
Labels: final_submission, feedback

#2162 hhob-jaldu: Essay proposal Task 2
  contributions/essay/hhob-jaldu/README.md
Labels: proposal, essay

#2173 amolt: Feedback for essay Task 1
  contributions/feedback/amolt/README.md
Labels: final_submission, feedback

#2172 hazara: Demo Proposal Week 5
  contributions/demo/week5/hazara/README.md
Labels: proposal, demo

#2174 jwliu-willb: Demo proposal week 7
  contributions/demo/week7/jwliu-willb/README.md
Labels: proposal, demo

#2178 eopru-dericsso: Demo proposal week 6
  contributions/demo/week6/eopru-dericsso/README.md
Labels: proposal, demo

#2116 hhob-lcjira: Open-source proposal, May 8
  contributions/opensource/hhob-lcjira/README.md
Labels: proposal, contribution_to_opensource

#2179 amolt-gakk: Executable tutorial proposal Task 3
  contributions/executable-tutorial/amolt-gakk/README.md
Labels: proposal, tutorial

#2184 essay proposal Task 2 emilk2 mgku
  contributions/essay/emilk2-mgku/README.md
Labels: proposal, essay

#2187 davidced-arasp essay proposal april 24th
  contributions/essay/davidced-arasp/README.md
Labels: proposal, essay

#2188 jarns-zeiher: Proposal for executable tutorial on GitOps
  contributions/executable-tutorial/jarns-zeiher/README.md
Labels: proposal, tutorial

#2192 ikhudur-praneetk Essay proposal Threat modeling
  contributions/essay/ikhudur-praneetk/README.md
Labels: proposal, essay

#2194 Add presentation proposal for week 6
  contributions/presentation/week6/linusost-hazara/README.md
Labels: proposal, presentation

#2189 jarns-zeiher: Submission for opensource contribution
  contributions/opensource/jarns-zeiher/README.md
Labels: final_submission, contribution_to_opensource

#2193 jonassav-ponorman: Presentation proposal week 6
  contributions/presentation/week6/jonassav-ponorman/README.md
Labels: proposal, presentation

#2195 Add Demo Slides pdf via upload
  contributions/demo/week5/afruz-beatajoh/afruz-beatajoh_Demo_slides.pdf
Labels: final_submission, demo

#2196 efranz-beatajoh Essay suggestion - IaC
  contributions/essay/efranz-beatajoh/README.md
Labels: proposal, essay

#2197 tengland-gabchr Essay proposal Task 3 - MLOps
  contributions/essay/tengland-gabchr/README.md
Labels: proposal, essay

#2191 willb-imanda: Presentation proposal week 6
  contributions/presentation/week6/willb-imanda/README.md
Labels: proposal, presentation

#2206 erikwac: Demo proposal for week 6
  contributions/demo/week6/erikwac/README.md
Labels: proposal, demo

#2204 Essay submission felixq
  contributions/essay/felixq/DevOps_Essay.pdf
  contributions/essay/felixq/README.md
Labels: final_submission, essay

#2209 Add demo proposal week 6 efranz-maxwik
  contributions/demo/week6/efranz-maxwik/README.md
Labels: proposal, demo

#2210 loar2-amolt: Essay submission
  contributions/essay/loar2-amolt/DevOps_and_Privacy.pdf
  contributions/essay/loar2-amolt/README.md
Labels: final_submission, essay

#2213 lcjira: Feedback proposal Task 2
  contributions/feedback/lcjira/README.md
Labels: proposal, feedback

#2212 oliverle-praneetk Feedback on Essay #2187
  contributions/feedback/oliverle-praneetk/README.md
Labels: proposal, feedback

#2207 iosif-zeiher: Presentation on using cross monitoring to scale on the edge
  contributions/presentation/week6/iosif-zeiher/A_Design_of_Serverless_Computing_Service_for_Edge_Clouds.pdf
  contributions/presentation/week6/iosif-zeiher/README.md
  contributions/presentation/week6/iosif-zeiher/WIP-slides.pdf
Labels: proposal, presentation

#2154 Essay Proposal, Task 2 - madao
  contributions/essay/madao/README.md
Labels: proposal, essay

#2205 Proposal for feedback assignment
  contributions/feedback/asbai-dljungg/README.md
Labels: proposal, feedback

#2208 gakk - tmatts: Demo proposal for week 7
  contributions/demo/week7/tmatts-gakk/README.md
Labels: proposal, feedback

#2211 Added Presentation Week 7 Proposal (War Games)
  contributions/presentation/week7/tengland-dhartler/README.md
Labels: proposal, presentation

#2214 hhob: Feedback proposal
  contributions/feedback/hhob/README.md
Labels: proposal, feedback

#2215 Add essay submission
  contributions/essay/efranz-beatajoh/README.md
  contributions/essay/efranz-beatajoh/efranz_beatajoh_essay-1.pdf
Labels: proposal, essay

#2217 yimingj: demo proposal week 6
  contributions/demo/week6/yimingj/README.md
  contributions/presentation/week6/yimingj/README.md
Labels: proposal, demo

#2219 jennilar: Feedback proposal task 2
  contributions/feedback/jennilar/README.md
Labels: proposal, feedback

#2216 feedback proposal task 2 emilk2
  contributions/feedback/emilk2/README.md
Labels: proposal, feedback

#2223 oliverle-taox Executable tutorial proposal task 3
  contributions/executable-tutorial/oliverle-taox/README.md
Labels: proposal, tutorial

#2218 hhob-jaldu: Essay submission
  contributions/essay/hhob-jaldu/DevOps_Essay.pdf
  contributions/essay/hhob-jaldu/README.md
Labels: final_submission, essay

#2220 added final essay submission - emilk2-mgku
  contributions/essay/emilk2-mgku/Using Machine Learning to Find Security Vulnerabilities in Software.pdf
Labels: final_submission, essay

#2221 added essay pdf for final submission - oliverle-nareaho
  contributions/essay/oliverle-nareaho/DD2482Essay.pdf
Labels: final_submission, essay

#2222 aramia-erikwac: Essay Submission
  contributions/essay/aramia-erikwac/Devops_essay.pdf
  contributions/essay/aramia-erikwac/README.md
Labels: final_submission, essay

#2229 Feedback submission emilk2
  contributions/feedback/emilk2/Feedback.md
  contributions/feedback/emilk2/README.md
Labels: final_submission, feedback

#2231 erikwac-jaldu: Add feedback proposal
  contributions/feedback/erikwac-jaldu/README.md
Labels: proposal, feedback

#2227 add tutorial proposal
  contributions/executable-tutorial/pierrelf-mgku/README.md
Labels: proposal, tutorial

#2224 morello-gardaa: essay proposal
  contributions/essay/morello-gardaa/README.md
Labels: proposal, essay

#2232 jennilar: feedback submission
  contributions/feedback/jennilar/README.md
Labels: final_submission, feedback

#2228 Essay submission ikhudur-praneetk "Threat modeling - A comparison between P.A.S.T.A and STRIDE"
  contributions/essay/ikhudur-praneetk/Essay ikhudur-praneetk.pdf
  contributions/essay/ikhudur-praneetk/README.md
Labels: final_submission, essay

#2240 gardaa-morello: Essay submission
  contributions/essay/morello-gardaa/Quantum_DevOps (2).pdf
Labels: final_submission, essay

#2239 submit essay
  contributions/essay/nilslof-taox/taox-nilslof-essay.pdf
Labels: final_submission, essay

#2241 jarns-zeiher: Submission of executable tutorial
  contributions/executable-tutorial/jarns-zeiher/README.md
Labels: final_submission, tutorial

#2199 jakobew-arenbro Essay proposal Task 3 - A/B testing
  contributions/essay/jakobew-arenbro/README.md
Labels: proposal, essay

#2238 hhob: Feedback submitted
  contributions/feedback/hhob/README.md
Labels: final_submission, feedback

#2234 Add Feedback proposal on "Understanding Copilot X"
  contributions/feedback/linusost/README.md
Labels: proposal, feedback

#2235 iosif-pierrelf: Add feedback
  contributions/feedback/iosif-pierrelf/README.md
  contributions/feedback/iosif-pierrelf/feedback.md
Labels: proposal, feedback

#2242 oliverle-taox: Submission of executable tutorial
  contributions/executable-tutorial/oliverle-taox/README.md
Labels: final_submission, tutorial

#2244 zeiher: Feedback on essay by gardaa-morello
  contributions/feedback/zeiher/README.md
Labels: proposal, feedback

#2246 nilslof-taox: Feedback proposal
  contributions/feedback/nilslof-taox/README.md
Labels: proposal, feedback

#2245 Proposal for essay task deadline 3
  contributions/essay/asbai/README.md
Labels: proposal, essay

#2249 Emihar-Mircoram Demo proposal week 7
  contributions/demo/week7/emihar-mircoram/README.md
Labels: proposal, demo

#2251 emilk2-pierrelf demo add slides
  contributions/demo/week4/emilk2-pierrelf/podman.pdf
Labels: final_submission, demo

#2253 oliverle-praneetk Feedback submitted
  contributions/feedback/oliverle-praneetk/README.md
Labels: final_submission, feedback

#2255 opers-mgku Demo proposal Week 8: DMCA Takedown notice
  contributions/demo/week8/opers-mgku/README.md
Labels: proposal, demo

#2257 Feedback
  contributions/feedback/lcjira/README.md
Labels: final_submission, feedback

#2258 aramia: Feedback submission
  contributions/feedback/aramia/README.md
Labels: final_submission, feedback

#2260 erikwac-jaldu: Feedback submission
  contributions/feedback/erikwac-jaldu/README.md
Labels: final_submission, feedback

#2262 felixq-oskarsva: Added slides to presentation
  contributions/presentation/week4/felixq-oskarsva/README.md
Labels: presentation, revision

#2268 zeiher: Final submission for feedback on essay by gardaa-morello
  contributions/feedback/zeiher/README.md
Labels: final_submission, feedback

#2264 Feedback Submission
  contributions/feedback/hazara/README.md
Labels: final_submission, feedback

#2266 Feedback submitted
  contributions/feedback/nilslof-taox/README.md
Labels: final_submission, feedback

#2269 madao-jwliu Task 2 Feedback Submission
  contributions/feedback/madao-jwliu/Feedback.md
  contributions/feedback/madao-jwliu/README.md
Labels: final_submission, feedback

#2256 gabchr-arenbro: Demo proposal for week 7
  contributions/demo/week7/gabchr-arenbro/README.md
Labels: proposal, demo

#2265 Feedback Submitted
  contributions/feedback/mlubken/README.md
Labels: final_submission, feedback

#2247 Proposal for essay task 3
  contributions/essay/maxwik-emihar/README.md
Labels: proposal, essay

#2254 jonassav: Essay proposal, task 3
  contributions/essay/jonassav/README.md
Labels: proposal, essay

#2270 llucfm-paufm: Presentation proposal week 7
  contributions/presentation/week7/llucfm-paufm/README.md
Labels: proposal, presentation

#2261 eopru: Essay proposal, task 3
  contributions/essay/eopru/README.md
Labels: proposal, essay

#2263 Added feeback to "Understanding Copilot X and it's potential for improved DevOps practices"
  contributions/feedback/davidced-arasp/Feedback_DD2482_.pdf
Labels: final_submission, feedback

#2273 sscolari: repeat Essay Submission, "Cloud Gaming and Containers. A comparison and evaluation of performance between Containers and Virtual Machines."
  contributions/essay/sscolari/Cloud_Gaming_and_Containers_A_comparison_and evaluation_of_performance_between_Containers_and_Virtual Machines.pdf
  contributions/essay/sscolari/Cloud_Gaming_and_Containers_A_comparison_and evaluation_of_performance_between_Containers_and_Virtual_Machines.pdf
  contributions/essay/sscolari/README.md
Labels: final_submission, essay

#2272 Essay Upload
  contributions/essay/gakk/Automating Infrastructure Management in CTF Games with Ansible.pdf
Labels: final_submission, essay

#2274 dericsso: Essay proposal, task 3
  contributions/essay/dericsso/README.md
Labels: proposal, essay

#2275 yimingj: week7 demo proposal
  contributions/demo/week7/yimingj/README.md
Labels: proposal, demo

#2278 revised essay emilk2 mgku
  contributions/essay/emilk2-mgku/REVISED Using Machine Learning to Find Security Vulnerabilities in Software.pdf
  contributions/essay/emilk2-mgku/Using Machine Learning to Find Security Vulnerabilities in Software.pdf
Labels: essay, revision

#2276 tmatts: Essay proposal, task 3
  contributions/essay/tmatts/README.md
Labels: proposal, essay

#2280 Week 7 presentation proposal efranz-maxwik
  contributions/presentation/week7/efranz-maxwik/README.md
Labels: proposal, presentation

#2279 Feedback proposal on essay: Ansible for DevOps and Infrastructure Automation
  contributions/feedback/gardaa/README.md
Labels: proposal, feedback
