Repository KTH/devops-course, pull requests merged in 2023-05, with the labels that each got.

#2283 add submission pierrelf-mgku
  contributions/executable-tutorial/pierrelf-mgku/README.md
Labels: final_submission, tutorial

#2285 aymanoa-iosif: KEDA executable tutorial proposal
  contributions/executable-tutorial/aymanoa-iosif/README.md
Labels: proposal, tutorial

#2286 Final feedback submission on essay: Ansible for DevOps and Infrastructure Automation
  contributions/feedback/gardaa/README.md
Labels: final_submission, feedback

#2282 mlubken-madao - Presentation Proposal
  contributions/presentation/week7/mlubken-madao/README.md
Labels: proposal, presentation

#2289 gardaa-morello: Executable tutorial proposal: ptrace-based tracing of Python programs
  contributions/executable-tutorial/gardaa-morello/README.md
Labels: proposal, tutorial

#2288 ikhudur-praneetk Resubmission Essay - "Threat modeling - A comparison between PASTA and STRIDE"
  contributions/essay/ikhudur-praneetk/README.md
  contributions/essay/ikhudur-praneetk/Resubmission essay ikhudur-praneetk.pdf
Labels: essay, repeat

#2294 paufm: Essay proposal task 3
  contributions/essay/paufm/README.md
Labels: proposal, essay

#2295 llucfm: Essay proposal task 3
  contributions/essay/llucfm/README.md
Labels: proposal, essay

#2297 jakobew-micask presentation week 9
  contributions/presentation/week9/jakobew-micask/README.md
Labels: proposal, presentation

#2291 oskarsva-adriankv essay proposal
  contributions/essay/oskarsva-adriankv/README.md
Labels: proposal, essay

#2284 Essay submit
  contributions/essay/nilslof-taox/taox-nilslof-essay-fixed.pdf
Labels: final_submission, essay

#2299 willb: Essay proposal task 3
  contributions/essay/willb/README.md
Labels: proposal, essay

#2302 Essay Submission
  README.md
  contributions/essay/mlubken/The_German_BSI_IT_Grundschutz_Standard_and_its_requirements_for_DevOps.pdf
Labels: final_submission, essay

#2303 paufm: Essay submission task 3
  contributions/essay/paufm/Improving_monitoring_automation_with_Icinga.pdf
Labels: final_submission, essay

#2304 llucfm: Essay submission task 3
  contributions/essay/llucfm/DevOps_and_Big_Data__Why_should_you_combine_them.pdf
Labels: final_submission, essay

#2298 Mircoram essay proposal
  contributions/essay/mircoram/README.md
Labels: proposal, essay

#2305 efranz-beatajoh: Feedback proposal
  contributions/feedback/beatajoh-efranz/README.md
Labels: proposal, feedback

#2307 yimingj: essay proposal task 3
  contributions/essay/yimingj/README.md
Labels: proposal, essay

#2306 adammel - Essay proposal
  contributions/essay/adammel/README.md
Labels: proposal, essay

#2308 micask-dhartler essay submission
  contributions/essay/micask-dhartler/micask-dhartler-essay.pdf
Labels: final_submission, essay

#2311 ponorman - executable tutorial submission
  contributions/executable-tutorial/ponorman/README.md
Labels: final_submission, tutorial

#2313 madao-jwliu: Executable tutorial proposal
  contributions/executable-tutorial/madao-jwliu/README.md
Labels: proposal, tutorial

#2315 jonassav: Feedback proposal, task 3
  contributions/feedback/jonassav/README.md
Labels: proposal, feedback

#2316 tmatts: Essay submission, task 3
  contributions/essay/tmatts/Metamorphic_testing_in_cybersecurity.pdf
Labels: final_submission, essay

#2317 Essay Submission emihar - maxwik
  contributions/essay/maxwik-emihar/Essay-maxwik-emihar.pdf
  contributions/essay/maxwik-emihar/README.md
Labels: final_submission, essay

#2287 aymanoa-iosif: Automated ML-pipeline with CI/CD essay proposal
  contributions/essay/aymanoa-iosif/README.md
Labels: proposal, essay

#2320 amolt-gakk: Executable Tutorial submission
  contributions/executable-tutorial/amolt-gakk/README.md
Labels: final_submission, tutorial

#2321 willb: Essay submission, task 3
  contributions/essay/willb/willb-essay.pdf
Labels: final_submission, essay

#2319 Essay-mircoram
  contributions/essay/mircoram/Essay-mircoram.pdf
Labels: final_submission, essay

#2327 eopru: Essay submission task 3
  contributions/essay/eopru/DevOps_Essay_Scalability_Testing.pdf
Labels: final_submission, essay

#2328 Tutorial submission
  contributions/executable-tutorial/erikwac-jaldu/README.md
Labels: proposal, feedback

#2326 Tutorial submission
  contributions/executable-tutorial/praneetk-mlubken/README.md
Labels: final_submission, essay

#2329 Essay submission deadline 3 (asbai #2245)
  contributions/essay/asbai/Essay_asbai.pdf
Labels: final_submission, essay

#2330 tengland-gabchr essay submission
  contributions/essay/tengland-gabchr/MLOps_Essay.pdf
Labels: final_submission, essay

#2331 jakobew-arenbro Essay submission deadline 3
  contributions/essay/jakobew-arenbro/DD2482_Essay_arenbro_jakobew.pdf
Labels: final_submission, essay

#2332 oskarsva-adriankv essay submission
  contributions/essay/oskarsva-adriankv/DevOps_Essay.pdf
  contributions/essay/oskarsva-adriankv/README.md
Labels: final_submission, essay

#2339 hhob-lcjira: Submit open source contribution
  contributions/opensource/hhob-lcjira/README.md
Labels: final_submission, contribution_to_opensource

#2333 madao-jwliu: Executable tutorial proposal (change topic) and submission
  contributions/executable-tutorial/madao-jwliu/README.md
  contributions/executable-tutorial/madao-jwliu/tutorial-flowchart.png
Labels: final_submission, tutorial

#2336 aymanoa-iosif: Essay submission, task 3
  contributions/essay/aymanoa-iosif/DevOps_Essay_final.pdf
  contributions/essay/aymanoa-iosif/README.md
Labels: final_submission, essay

#2346 yimingj: feedback proposal
  contributions/feedback/yimingj/README.md
Labels: proposal, feedback

#2350 tengland: Feedback proposal
  contributions/feedback/tengland/README.md
Labels: proposal, feedback

#2351 morello: feedback submission
  contributions/feedback/morello/README.md
Labels: final_submission, feedback

#2353 yimingj: feedback submission task 3
  contributions/feedback/yimingj/README.md
Labels: final_submission, feedback

#2352 aymanoa: demo proposal
  contributions/demo/week9/aymanoa/README.md
Labels: proposal, demo

#2340 Semgrep CI Command Run Error Behavior - Open Source Proposal
  contributions/opensource/madao/README.md
Labels: proposal, contribution_to_opensource

#2344 feat: demo proposal
  contributions/demo/week9/iaiab/README.md
Labels: proposal, demo

#2345 feat: presentation proposal
  contributions/presentation/week9/iaiab/README.md
Labels: proposal, presentation

#2356 mlubken-madao: Demo proposal
  contributions/demo/week9/mlubken-madao/README.md
Labels: proposal, demo

#2357 yimingj: presentation proposal
  contributions/presentation/week9/yimingj/README.md
Labels: proposal, presentation

#2359 Tengland: Feedback Delivery
  contributions/feedback/tengland/README.md
Labels: final_submission, feedback

#2358 Presentation proposal week 9
  contributions/presentation/week9/adriankv-arasp/README.md
Labels: proposal, presentation

#2360 Presentation proposal week 9
  contributions/presentation/week9/nilslof.md
Labels: proposal, presentation

#2361 feat: feedback submission
  contributions/feedback/iaiab/README.md
Labels: final_submission, feedback

#2364 Added presentation PDF
  contributions/presentation/week9/adriankv-arasp/presentation.pdf
Labels: final_submission, presentation

#2366 Submit revised essay
  contributions/essay/iaiab/1-bdd.pdf
  contributions/essay/iaiab/README.md
Labels: essay, revision

#2363 Open Source Contribution - Semgrep Improvements
  contributions/opensource/madao/README.md
Labels: contribution_to_opensource, revision

#2367 Commit links to our tutorial
  contributions/executable-tutorial/aymanoa-iosif/README.md
Labels: tutorial, revision
