Repository KTH/devops-course, pull requests merged in 2023-03, with the labels that each got.

#2063 emilk2-pierrelf: Presentation proposal, week 2
  contributions/presentation/week2/emilk2-pierrelf/README.md
Labels: proposal, presentation

#2061 opers-jarns Presentation proposal, week 2
  contributions/presentation/week2/opers-jarns/README.md
Labels: proposal, presentation

#2070 aramia-nilslof: Demo proposal, week 2
  contributions/demo/week2/aramia-nilslof/README.md
Labels: proposal, demo

#2071 afruz-lcjira: Presentation proposal, week 2
  presentation/week2/afruz-lcjira/README.md
Labels: proposal, presentation

#2080 suvarchala: Demo Proposal for week2
  contributions/demo/week2/jaldu/README.md
Labels: proposal, demo

#2081 hapeters-jhulthen demo proposal
  contributions/demo/week2/hapeters-jhulthen/README.md
Labels: proposal, demo

#2084 oliverle demo proposal week 2
  contributions/demo/week2/oliverle/README.md
Labels: proposal, demo

#2083 tmatts-gakk week 2 presentation proposal
  contributions/presentation/week2/tmatts-gakk/README.md
Labels: proposal, presentation

#2082 ikhudur-davidced demo week 3
  contributions/demo/week3/ikhudur-davidced/README.md
Labels: proposal, demo

#2087 Added presentation proposal for week 3
  contributions/presentation/week3/jennilar-asbai/README.md
Labels: proposal, presentation

#2088 emilk2: Open source proposal, task 1
  contributions/opensource/emilk2/README.md
Labels: proposal, contribution_to_opensource

#2089 added demo proposal of Arasp Keighobad and Adrian Valdani for week 3
  contributions/demo/week3/arasp-adriankv/README.md
Labels: proposal, demo

#2091 Efranz-maxwik presentation week 8
  contributions/presentation/week8/efranz-maxwik/README.md
Labels: proposal, presentation

#2096 jennilar essay task 1
  contributions/essay/jennilar/README.md
Labels: proposal, essay

#2095 pierrelf - Add open source proposal deadline 1
  contributions/opensource/pierrelf/README.md
Labels: proposal, contribution_to_opensource

#2100 jonassav-ponorman: Demo proposal, week 3
  contributions/demo/week3/jonassav-ponorman/README.md
Labels: proposal, demo

#2086 dljungg-taox: Presentation proposal, week 3
  contributions/presentation/week3/dljungg-taox/README.md
Labels: proposal, presentation

#2106 Adammel-Gardaa demo week 4: Serverless Gatsby Cloud
  contributions/demo/week4/gardaa-adammel/README.md
Labels: proposal, demo

#2103 viktorme-beatajoh: presentation, week3
  contributions/presentation/week3/viktorme-beatajoh/README.md
Labels: proposal, presentation

#2108 oliverle-praneetk Presentation Proposal week 3
  contributions/presentation/week3/oliverle-praneetk/README.md
Labels: proposal, presentation

#2110 afruz-ljira: Essay, April 10
  contributions/essay/afruz-lcjira/README.md
Labels: proposal, essay

#2114 Task 1 - iaiab
  contributions/essay/iaiab/README.md
Labels: proposal, essay

#2102 adammel-gardaa Presentation week 3: Rolling Deployment with Kubernetes
  contributions/presentation/week3/adammel-gardaa/README.md
Labels: proposal, presentation
