Repository KTH/devops-course, pull requests merged in 2024-10, with the labels that each got.

#2488 Task 2: Executable tutorial proposal (oscols + hugomal)
  contributions/executable-tutorial/oscols-hugomal/README.md
Labels: collaboration_wanted

#2532 week 7: scientific paper proposal
  contributions/scientific-paper/week7/dgaspar-tmbpe/README.md
Labels: proposal, scientific-paper

#2559 Week 6: Demo proposal
  contributions/demo/week6/anouiser/README.md
Labels: proposal, demo

#2581 Feedback proposal
  contributions/feedback/arberl-liley/README.md
Labels: collaboration_wanted

#2557 Executable tutorial proposal
  contributions/executable-tutorial/lllr-shahoud/README.md
Labels: proposal, tutorial

#2582 Executable tutorial proposal
  contributions/executable-tutorial/casperkr-mnem/README.md
Labels: proposal, tutorial

#2622 Executable Tutorial Submission
  contributions/executable-tutorial/tljun-lindefor/README.md
Labels: final_submission, tutorial

#2623 Final executable tutorial submission
  contributions/executable-tutorial/peiyang-immig/README.md
Labels: final_submission, tutorial

#2624 Added feedback
  contributions/feedback/tocarls-lindefor/README.md
Labels: final_submission, feedback

#2628 Feedback Submission
  contributions/feedback/wenqic-amano/README.md
Labels: final_submission, feedback

#2629 Proposal feedback
  contributions/feedback/shahoud-peremr/README.md
Labels: proposal, feedback

#2594 Executable tutorial proposal
  contributions/executable-tutorial/bthiberg-noakj/README.md
Labels: proposal, tutorial

#2596 Executble tutorial proposal (updated proposal!)
  contributions/executable-tutorial/joslindk-jkuo/README.md
Labels: proposal, tutorial
