Repository KTH/devops-course, pull requests merged in 2024-09, with the labels that each got.

#2373 Week 3: demo proposal
  contributions/demo/week3/jmaragna-inigoaa/README.md
Labels: proposal, demo

#2375 Week 2: Presentation proposal (maxisr & jbiorck)
  contributions/presentation/week2/maxisr-jbiorck/README.md
Labels: proposal, presentation

#2383 week 2: demo proposal
  contributions/demo/week2/mqnguyen-golman/README.md
Labels: proposal, demo

#2412 Week-3: Presentation Proposal
  contributions/presentation/week3/hexu-tianning/README.md
Labels: proposal, presentation

#2413 Week-3: Demo proposal
  contributions/demo/week3/jbiorck-maxisr/README.md
Labels: proposal, presentation

#2414 Week 3: Demo proposal
  contributions/demo/week3/noakj-maals/README.md
Labels: proposal, demo

#2425 Week 3: Presentation Proposal
  contributions/presentation/week3/uqqasha-lllr/README.md
Labels: proposal, presentation

#2435 Week 3: presentation proposal
  contributions/presentation/week3/peiyang-yinanhu/README.md
Labels: proposal, presentation

#2437 Week3: Demo proposal
  contributions/demo/week3/rikj-millear/README.md
Labels: proposal, demo

#2445 Week 3: Demo Proposal
  contributions/demo/week3/noelt-miladsf/README.md
Labels: proposal, demo

#2441 Presentation proposal for week 3
  contributions/presentation/week3/cnra-rohinib/README.md
Labels: proposal, presentation

#2476 Proposal Demo Week 4
  contributions/demo/week4/jkuo-vanjav/README.md
Labels: proposal, demo

#2485 Week 4: Demo proposal
  contributions/demo/week4/lllr-peremr/README.md
Labels: proposal, demo

#2486 Week4 proposal: scientific paper
  contributions/scientific-paper/week4/tianning-yinanhu/README.md
Labels: proposal, scientific-paper

#2487 Feedback Proposal on Week 4 Scientific Paper
  contributions/feedback/atheers-miladsf/README.md
Labels: proposal, feedback

#2501 Feedback Proposal
  contributions/feedback/hexu-peiyang/README.md
Labels: proposal, feedback

#2504 Feedback Submission
  contributions/feedback/dgaspar-mateusma/README.md
Labels: final_submission, feedback

#2514 Week 5 presentation proposal
  contributions/presentation/week5/bthiberg-noakj/README.md
Labels: proposal, presentation

#2447 Week 6: Presentation Proposal
  contributions/presentation/week6/arberl-sorger/README.md
Labels: proposal, presentation

#2448 Week 7: Scientific Paper Proposal
  contributions/scientific-paper/week7/mateusma-sorger/README.md
Labels: proposal, scientific-paper

#2449 Week 6: Demo Proposal
  contributions/demo/week6/carlwang-jrybak/README.md
Labels: proposal, demo

#2456 Week 7: Scientific Paper Proposal
  contributions/scientific-paper/week7/lawang-campione/README.md
Labels: proposal, scientific-paper

#2468 Week 6: Demo Proposal
  contributions/demo/week6/sofiaedv-ludvigch/README.md
Labels: proposal, demo

#2477 Week 6: Demo Proposal
  contributions/demo/week6/melvinj-lindefor/README.md
Labels: proposal, demo

#2502 Feedback Submission
  contributions/feedback/hexu-peiyang/README.md
Labels: final_submission, feedback

#2507 Week 6: Presentation proposal
  contributions/presentation/week6/maals-omidfm/README.md
Labels: proposal, presentation

#2515 Week 5: Scientific paper
  contributions/demo/week5/rikj-millear/README.md
Labels: proposal, scientific-paper

#2491 Executable tutorial proposal (lvainio)
  contributions/executable-tutorial/lvainio/README.md
Labels: collaboration_wanted

#2544 Demo Proposal week 5
  contributions/demo/week5/linussve-mnem/README.md
Labels: proposal, demo

#2530 Feedback Proposal
  contributions/feedback/uqqasha-lvainio/README.md
Labels: proposal, feedback

#2549 Presentation proposal - week 7
  contributions/presentation/week7/ttoma-emilsjol/README.md
Labels: proposal, presentation

#2554 Executable Tutorial: Proposal (Noelt-Atheers)
  contributions/executable-tutorial/noelt-atheers/README.md
Labels: proposal, tutorial

#2555 Executable tutorial Proposal
  contributions/executable-tutorial/peiyang-immig/README.md
Labels: proposal, tutorial
